
@media(max-width:1000px) {
  html{
    font-size:55%;
  }
  
}

@media(max-width:600px) {
  html{
    font-size:40%;
  }  
}
@media(min-width:1000px) {
  html{
    font-size:45%;
  }  
}


html{
  font-size: 62.5%;
}
body{
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}
.boxcontain{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  background: rgba(255, 255, 255, 0.296);
    height: 50rem;
    width: 40rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.close{
    position: relative;
    z-index: 1;
    left: 41rem;
    bottom: .7rem;
}

.up{
    position: relative;
    z-index: 2; 
}
 .txt_field{
    position: relative;
    border-bottom: .2rem solid #adadad;
    margin: 3rem 0;
    width: 100%;
 }
 .txt_field input{
    padding: 0 .5rem;
    height: 4rem;
    font-size: 1.6rem;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #adadad;
    transform: translateY(-1rem);
    font-size: 2rem;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 4rem;
    left: 0;
    width: 0%;
    height: .2rem;
    font-size: .1rem;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -.5rem;
    font-size: 1.5rem;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  
  .eye{
    position: absolute;
   top: 18rem;
    left: 35rem;
    cursor: pointer;
  }
  .fa{
    color: #a6a6a6;
    font-size: 1.5rem;
  }
  .abc5{
    color: #a6a6a6;
    font-size: 4rem;
  }
  /*opt code*/

  .container{
    display: flex;
    flex-flow: column;
    height: 60%;
    align-items: space-around;
    justify-content: center;
  }
  
  .userInput{
    display: flex;
    justify-content: center;
  }
  
  .otp{
    margin: .5rem;
    height: 3.5rem;
    width: 6.5rem;
    border: none;
    border-radius: .5rem;
    text-align: center;
    font-family: arimo;
    font-size: 2rem;
    background: #eef2f3;
  
  }
  
  .title{
    text-align: center;
    font-family: arimo;
    color: honeydew;
    margin-bottom: 2rem;
    font-size: 3rem;

  }
  .abc{
    color:#adadad;
     font-size: 1.7rem;
  }
  .btn_field{
    width: 80%;
    height: 4rem;
  }
  .button1{
    font-size: 1.7rem; 
    text-align: center;
    color: #fffcfc; 
    background-color:rgb(164, 164, 164);
    border-radius: 2rem;
    border: none;
    height: 100%;
    width: 100%;
  
  }
.abc2{
  text-align: center;  
  color: #adadad;
  font-size: 1.7rem;
}
.button2{
  background-color: rgba(255, 255, 255, 0); 
  border-radius: 2rem;
  width:10rem;
  height: 4rem; 
  border-color: #fffcfc;
  margin: 2rem;
}
.img1{
  height:3rem;
  width:3rem;

}
.abc3{
  text-align: center; 
  text-decoration: underline;
   color: #adadad;
    margin-top: 1rem;
    font-size: 1.7rem;
}
.img2{
  height:6rem;
   width:6rem;
   display: block;
   
}
.abc4{
  margin-bottom: 5rem;
}

  .txt_field1{
    position: relative;
    border-bottom: .2rem solid #adadad;
    margin: -4rem 0;
    
  
 }
 .txt_field1 input{
    width: 50rem;
    padding: 0 .5rem;
    height: 4rem;
    font-size: 1.6rem;
    border: none;
    background: none;
    outline: none;
    margin-top: -10rem;
    margin-left: 1.3rem;
  }
  .txt_field1 label{
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #adadad;
    transform: translateY(-1rem);
    font-size: 2rem;
    pointer-events: none;
    margin-top: -1.6rem;
    transition: .5s;
  }
  .txt_field1 span::before{
    content: '';
    position: absolute;
    top: 4rem;
    left: 0;
    width: 0%;
    height: .2rem;
    font-size: .1rem;
    background: #2691d9;
    margin-top: -1.6rem;
    transition: .5s;
  }
  .txt_field1 input:focus ~ label,
  .txt_field1 input:valid ~ label{
    top: -.5rem;
    font-size: 1.5rem;
    color: #2691d9;
  }
  .txt_field1 input:focus ~ span::before,
  .txt_field1 input:valid ~ span::before{
    width: 100%;
  }
  .title2{
    text-align: center;
    font-family: arimo;
    color:#adadad;
    font-size: 2.8rem;
    position: relative;
    z-index: 3;
    bottom: 1rem;

  }
  .title3{
    text-align: center;
    font-family: arimo;
    color:#adadad;
    font-size: 3rem;
    position: relative;
    z-index: 3;
    bottom: -.4rem;

  }
  .button1:hover{
   background-color: #2691d9;
   cursor: pointer;
  }
  .button3{
    width:90%;
    height: 4rem; 
    font-size: 1.7rem; 
    text-align: center; 
    color: #fffcfc; 
    background-color:rgb(164, 164, 164);
    border: none;
    cursor: pointer;
    z-index: 6;
  }
  .button3:hover{
   background-color: #2691d9;
   cursor: pointer;
  }

/* register */
.txt_field2{
  position: relative;
  border-bottom: .2rem solid #adadad;
  margin: 3rem 0;
  

}
.txt_field2 input{
  width: 50rem;
  padding: 0 .5rem;
  height: 4rem;
  font-size: 1.6rem;
  border: none;
  background: none;
  outline: none;
  
  margin-left: 1.3rem;
}
.txt_field2 label{
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #adadad;
  transform: translateY(-1rem);
  font-size: 2rem;
  pointer-events: none;
  
  transition: .5s;
}
.txt_field2 span::before{
  content: '';
  position: absolute;
  top: 4rem;
  left: 0;
  width: 0%;
  height: .2rem;
  font-size: .1rem;
  background: #2691d9;
  
  transition: .5s;
}
.txt_field2 input:focus ~ label,
.txt_field2 input:valid ~ label{
  top: -.5rem;
  font-size: 1.5rem;
  color: #2691d9;
}
.txt_field2 input:focus ~ span::before,
.txt_field2 input:valid ~ span::before{
  width: 100%;
}
.svg{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: flex-start;
}
.title4{
  text-align: center;
  font-family: arimo;
  color:#adadad;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  position: relative;
  z-index: 3;
  bottom: 4rem;

}


.contain{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}