* {
  box-sizing: border-box;
}
.profile {
	  padding: 0 10%;
}
.profile .profile_section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    margin: 1em auto;
    position: relative;
}
.profile .profile_section .icon_edit {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.icon_edit:before {
    content: "\E916";
}
.profile .profile_section_info_card {
    padding: 15px 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    overflow: hidden;
    display: flex;
    gap: 1em;
}
.profile .profile_section_info_card:last-of-type {
    border-bottom: none;
}
.profile .profile_pic.seller_default {
    background: url(https://assets-0.housingcdn.com/seller/images/seller-default-b998ba2dede77b431e1ac01cf36048b4.png) 50%/cover no-repeat;
}
.profile .profile_pic {
    width: 80px;
    height: 80px;
    background-color: #e6e6e6;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
}
.profile .profile_details_primary_detail {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.profile .profile_details_secondary_detail.detail_lighter {
    opacity: .7;
}
.profile .profile_details_secondary_detail {
    margin-top: 8px;
    font-size: 14px;
}
.myaccount {
    font-family: Rubik, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1em;
    white-space: nowrap;
}
.myaccount .leftbar {
    padding: 1em 1.75em;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.myaccount .leftbar .up {
    font-size: 14px;
    border-bottom: 1px solid rgb(0,0,0,0.2);
    padding-bottom: 1em;
}
.myaccount .leftbar .up .head {
    color: rgb(34, 34, 34);
    margin-bottom: 5px;
}
.myaccount .leftbar .up .type {
    padding: 0.5em 0;
    font-weight: 400;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
.myaccount .leftbar .up .icon_radio_filled {
    color: rgb(94, 35, 220);
}

.myaccount .leftbar .up .icon_radio_filled:before {
    content: "\E92C";
}
.myaccount .leftbar .up .icon_radio:before {
    content: "\E92D";
}

[class*=" icon_"],
[class^=icon_] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.myaccount .leftbar .up .label_active {
    color: rgb(94, 35, 220);
    font-weight: 500;
}

.myaccount .leftbar .up .label {
    margin-left: 8px;
}

.myaccount .leftbar .down {
    padding-top: 1em;
}
.myaccount .leftbar .down .head {
    font-size: 14px;
    margin-bottom: 1em;
}
.myaccount .leftbar .down .tab{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.myaccount .leftbar .down .tab .tabnonactive, .myaccount .leftbar .down .tab .tabactive {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.84px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1em 8px;
    cursor: pointer;
}
.myaccount .leftbar .down .tab .tabactive{
    background: rgba(94, 71, 220, 0.15);
    color: rgb(94, 71, 220);
    border-left: 4px solid rgb(94, 71, 220);
}
.icon_arrow_down {
    display: inline-block;
    margin-left: 5px;
    color: #5e23dc;
}
span.icon.icon_arrow_down {
    margin-left: auto;
    transition: all .3s ease-in-out;
}
.icon_arrow_right:before {
    content: "\E90E";
}
.icon_arrow_down:before {
    content: "\E90C";
}
.myaccount .leftbar .down .tab .sub_filter.active {
    height: auto;
    padding: 16px 0px 0px 12px;
}

.myaccount .leftbar .down .tab .sub_filter {
    height: 0px;
    padding: 0px;
    overflow: auto;
    max-width: 228px;
    transition: height 1s ease 0s;
}

.myaccount .leftbar .down .tab .sub_filter .rf_group {
    margin: 0px 9px;
    text-align: left;
    white-space: normal;
    display: flex;
    flex-direction: column;
}
.myaccount .leftbar .down .tab .sub_filter .rf_group .rf_toggle.pills {
    border: none;
    border-radius: 0px;
    padding: 0px;
    text-align: left;
    font-size: 14px;
}
.rf_toggle.pills {
    color: rgba(0,0,0,.54);
    margin: 0 4px 10px;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    border: 1px solid #e6e6e6;
    border-radius: 24px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    line-height: 30px;
    font-size: 12px;
}
.myaccount .leftbar .down .tab .sub_filter .rf_group .rf_toggle.pills.toggle_active {
    background-color: transparent;
    color: rgb(94, 35, 220);
}

.myaccount .center {
    position: relative;
}
.myaccount .center .section1 {
    padding: 0.5em 1em 0.5em 0.5em;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(112, 92, 224) 0%, rgb(94, 71, 220) 100%);
    display: grid;
    grid-template-areas: "main more" "text reset";
    grid-template-columns: 3fr 1fr;
    align-items: center;
    color: #fff;
}
.myaccount .center .more {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
    grid-area: more;
    justify-self: right;
}
.myaccount .center .reset {
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    grid-area: reset;
    justify-self: right;
}
.myaccount .center .section1 .main{
    grid-area: main;
}
.myaccount .center .main .dropdown-component.filter-container {
    min-width: 44px;
}
.dropdown-component {
    position: relative;
    background-color: #fff;
    margin: 0 13px 5px 0;
    vertical-align: top;
}
.myaccount .center .main .dropdown-component {
    background-color: transparent;
}
.filter-container {
    display: inline-block;
    border-radius: 2px;
    line-height: 48px;
    min-width: 110px;
    cursor: pointer;
}
.myaccount .center .main .dropdown-component .dropdown-header {
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    line-height: 17px;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: normal;
}
.dropdown-header {
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 4px;
    color: rgba(0,0,0,.8);
    font-weight: 500;
    line-height: 1;
    height: 32px;
}
.dropdown-header .head-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
}
.dropdown-component .display-text-wrapper {
    margin-right: 5px;
}
.myaccount .center .main .dropdown-component .dropdown-header .head-container .icon-arrow-down {
    color: rgba(255, 255, 255, 0.7);
}
span.icon.icon-arrow-down {
    margin-left: auto;
    transition: all .3s ease-in-out;
}
.dropdown-component .display-text-container {
    display: inline-block;
    color: hsla(0,0%,100%,.7);
    vertical-align: top;
}
.myaccount .center .text{
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 500;
    font-size: 14px;
    grid-area: text;
}
.prop-cont {

}
.prop-cont .festive-card-listing {
    margin-bottom: 12px;
}
.su-db-home .su-dbh-listings {
    width: 604px;
}
.su-db-home .su-db-empty, .su-db-home .su-dbh-listings {
    display: inline-block;
    vertical-align: top;
}
.owner-property {
	  margin-top: 1em;
}
.mlp-property {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-weight: 400;
    border: 0;
    border-radius: 10px;
}
    .owner-property .mlp-property, .seller-property .mlp-property {
        padding: 0;
    }
    .mlp-property:last-child {
        margin-bottom: 60px;
    }
.mlp-property, .owner-property .mlp-property:last-child, .seller-property .mlp-property:last-child {
    margin-bottom: 10px;
}
.mlp-property .mlpp-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.mlp-property .mlp-card-header {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    padding: 0.75em 1em;
    border-bottom: 1px solid #f5f5f5;
}
.mlp-property .id-container {
    font-size: 12px;
    color: #767676;
}.mlp-property .mlp-card-header .su-li-ctas:empty {
    display: none;
}
.su-li-ctas {
    display: flex;
    padding: 0 0.5em;
}
.su-db-home .su-li-ctas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
}
.mlp-img:not(.su-upload-stub).mlp-img-stub {
    background-size: 60%;
}
/* .mlp-img:not(.su-upload-stub):not(.single-img) {
    height: 70px;
    width: 85px;
} */
.mlp-img:not(.su-upload-stub) {
    background-size: cover;
    background-color: #d8d8d8;
    background-image: url('./download.svg');
    flex-shrink: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0 0 0 10px;
    min-width: 200px;
}
/* .mlp-property .mlp-img:not(.su-upload-stub):not(.single-img) {
    min-height: 186px;
    height: auto;
    width: 30%;
} */

.mlp-info {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.mlp-info.padding-left {
    padding-left: 16px;
}
.mlp-price-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    padding-right: 18px;
}
.mlp-title-container {
    font-size: 18px;
    font-weight: 500;
    max-width: calc(100% - 25px);
    padding-right: 6px;
    display: flex;
    align-items: center;
    margin-top: 17px;
}
.mlp-sub {
    color: rgba(0,0,0,.54);
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
}
.text-ellipsis {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mlp-addr {
    color: #000;
    line-height: 14px;
    max-height: 45px;
    overflow: hidden;
    font-size: 12px;
    margin-top: 6px;
}
.mlp-property .mlp-posted-expired-info-container {
    margin-left: -16px;
    background: #f9f5ff;
    padding: 0.5em 0;
    margin-top: 15px;
    border-radius: 0 0 10px 0;
}
.mlp-price-value {
    font-size: 14px;
    margin-right: 20px;
}
.su-li-tags {
    display: inline-block;
    vertical-align: middle;
}
.su-db-home .su-li-tags {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}
.mlp-price-wrapper .icon-rupee {
    position: relative;
}
.icon-rupee {
    align-self: center;
}
.icon-rupee:before {
    content: "\E931";
}
.su-li-status {
    margin: 10px 0;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}
.su-li-status.red {
    color: #e02727;
}
.su-db-home .su-li-status {
    margin: 10px 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.su-db-home .su-li-status.red {
    color: #e02727;
}
.su-li-status-icon, .su-li-status-text {
    display: inline-block;
    vertical-align: middle;
}
.su-li-status-icon {
    width: 20px;
    height: 20px;
}
.deleted-icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Ccircle cx='8' cy='8' r='7' fill='%23FFEFF2'/%3E %3Crect width='7.2' height='1' x='4.4' y='7.6' stroke='%23CE2445' stroke-width='.8' rx='.5'/%3E %3Cpath fill='%23CE2445' fill-rule='nonzero' d='M8 16c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8zM8 1a7 7 0 0 0-7 7 7 7 0 0 0 7 7 7 7 0 0 0 7-7 7 7 0 0 0-7-7z'/%3E %3C/g%3E %3C/svg%3E") no-repeat 50%;
}
.su-db-home .su-li-status-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.su-li-status-text {
    margin-left: 5px;
    line-height: 30px;
    font-size: 12px;
}
.su-li-status-icon, .su-li-status-text {
    display: inline-block;
    vertical-align: middle;
}
.su-db-home .su-li-status-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    line-height: 2em;
}
.subtitle2 {
    padding-right: 10px;
}
.subtitle2.upgrade-impl {
    padding-right: 0;
}
.mlp-property .mlp-sub .mlp-sub-separator {
    margin: 5px 6px 0;
    border-color: #e6e6e6;
    height: 16px;
}
.subtitle1 {
    padding-left: 10px;
}
.subtitle1.upgrade-impl {
    padding-left: 0;
}
.mlp-property .mlp-posted-expired-info-container .mlp-posted-expired-info {
    display: flex;
}
.mlp-property .mlp-posted-expired-info-container .flex {
    display: flex;
}
.mlp-property .mlp-posted-expired-info-container .mlp-posted-expired-info .mlp-date-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 0 0.75em;
}
.mlp-property .mlp-posted-expired-info-container .mlp-posted-expired-info .mlp-date-container:not(.mlp-posted-expired-info .mlp-date-container:last-of-type) {
  border-right: 0.5px solid rgba(0,0,0,0.25);
}
.mlp-property .mlp-posted-expired-info-container .mlp-posted-expired-info .mlp-date-container .mlp-date-title.upgrade-impl {
    color: #000;
}
.mlp-property .mlp-posted-expired-info-container .mlp-posted-expired-info .mlp-date-container .mlp-date-title {
    font-family: Rubik,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.75;
    color: #767676;
}
.mlp-property .mlp-posted-expired-info-container .mlp-posted-expired-info .mlp-date-container .mlp-date-value {
    font-family: Rubik,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.75;
    color: #000;
}
.mlp-property .mlp-posted-expired-info-container .mlp-posted-expired-info .mlp-date-container .mlp-date-value .red {
    color: red;
}
@media screen and (max-width: 1300px) {
  .profile {
    padding: 0 2em;
  }
  .myaccount {
    grid-template-columns: 1fr 2.5fr 1fr;
  }
  .myaccount .leftbar {
    padding: 1em;
  }
}
@media screen and (max-width: 1023px) {
  .myaccount .leftbar .up {
    display: flex;
    background-color: #e7e4fa;
    padding: 0.5em;
    border: none;
    border-radius: 50px;
  }
  .myaccount .leftbar .head {
    display: none;
  }
  .myaccount .leftbar .up .type {
    padding: 0.5em;
    border-radius: inherit;
  }
  .leftbar [class*=" icon_"], .leftbar [class^=icon_] {
    display: none;
  }
  .myaccount .leftbar .up .label {
    white-space: break-spaces;
    margin: 0;
    height: 1em;
    overflow: hidden;
    display: block;
    text-align: center;
  }
}