:root {
  --brand-color: #d8232a;
}

.header * {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.header .hide {
  display: none;
}

.header_main {
  width: 100%;
  height: 48px;
  background-color: var(--brand-color);
}

.header_menu_btn {
  display: none;
}

.header_sub {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  transition: all 0.3s;
}
.header_sub_btn {
  display: none;
}
.header_container_div {
  width: 81%;
  margin: auto;
  display: flex;
}

.header_logo {
  width: 165px;
}

.header_logo > a {
  display: inline-block;
  width: 100%;
  height: 48px;
  background: url(../../../../public/PropTrack.png) no-repeat -8px -5px;
  background-size: 180px;
}

.header_city {
  position: relative;
  margin-left: 24px;
}

.header_main_link {
  color: white;
  font-size: 14px;
  line-height: 48px;
  text-decoration: none;
  padding: 0 32px 0 16px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 170px;
}

.header_main_link:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 16px;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655392412070/images/revamp/web-header-footer.svg)
    no-repeat -12px -645px;
}

.header_main_link.active:after {
  background-position: -11px -570px;
  top: 18px;
}

.header_main_link.active {
  background-color: #fff;
  color: var(--brand-color);
  border-radius: 8px 8px 0 0;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #d7d7d7;
  border-bottom: none;
  white-space: nowrap;
}

.header_city_dropdown {
  min-height: 150px;
  position: absolute;
  left: -155px;
  top: 48px;
  border-radius: 8px;
  box-shadow: 0 3px 9px 0 rgb(48 48 48 / 20%);
  border: 1px solid #d7d7d7;
  background-color: #fff;
  display: none;
  justify-content: space-between;
  z-index: 2;
}

.header_city_dropdown.active {
  display: flex;
}

.city_drop_left {
  width: 774px;
  padding: 24px;
}

.city_drop_row {
  display: flex;
  width: 100%;
}

.city_drop_row .cell {
  width: 50%;
  height: 32px;
}

.city_drop_heading_main {
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
  position: relative;
  color: #303030;
  line-height: 16px;
  display: inline-block;
}

.city_drop_heading_main:after {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655392301574/images/revamp/web-header-footer.svg)
    no-repeat 0 0;
  background-position: -8px -510px;
}

.city_drop_heading {
  font-size: 14px;
  font-weight: 600;
  color: #303030;
  padding-bottom: 8px;
  margin-top: 16px;
}

.city_drop_link_group {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.city_drop_link_group > li {
  width: 20%;
  margin-bottom: 4px;
}

.city_drop_link_group > li > a {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #303030;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.city_drop_link_group > li > a:hover {
  color: var(--brand-color);
}

.header_prime {
  width: 120px;
  position: relative;
}

.header_prime_dropdown {
  min-width: 100px;
  min-height: 50px;
  position: absolute;
  left: 0;
  top: 47px;
  border-radius: 0 8px 8px 8px;
  box-shadow: 0 3px 9px 0rgba (48, 48, 48, 0.2);
  border: 1px solid #d7d7d7;
  background-color: #fff;
  display: none;
  justify-content: space-between;
  z-index: 2;
  padding: 12px 12px 24px;
}

.header_prime_dropdown.active {
  display: block;
}

.prime_drop_block {
  background-color: #29313b;
  padding: 16px;
  border-radius: 8px;
  width: 352px;
  text-align: center;
  margin-bottom: 16px;
}

.prime_drop_block_icon {
  width: 22px;
  height: 20px;
  display: inline-block;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655392301574/images/revamp/web-header-footer.svg)
    no-repeat -4px -275px;
}

.prime_drop_block_heading {
  font-size: 18px;
  line-height: 40px;
  color: #fff;
}

.prime_drop_block_text {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #e2be86;
  text-align: center;
}

.prime_drop_features {
  width: 260px;
  margin: auto auto 16px;
}

.prime_drop_features > li {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding-left: 20px;
  margin-bottom: 8px;
  position: relative;
}

.prime_drop_features > li:after {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655392301574/images/revamp/web-header-footer.svg)
    no-repeat -8px -618px;
}

.prime_drop_join {
  width: 192px;
  height: 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  border-radius: 32px;
  text-align: center;
  color: #fff;
  display: block;
  margin: auto;
  background-color: var(--brand-color);
}

.header_login {
  min-width: 100px;
  position: relative;
}

.header_login_dropdown {
  min-width: 240px;
  min-height: 50px;
  position: absolute;
  left: 0;
  top: 47px;
  border-radius: 0 8px 8px 8px;
  box-shadow: 0 3px 9px 0rgba (48, 48, 48, 0.2);
  border: 1px solid #d7d7d7;
  background-color: #fff;
  display: none;
  justify-content: space-between;
  z-index: 2;
}

.header_login_dropdown.active {
  display: block;
}

.login_drop_up {
  padding: 24px 24px 12px;
}

.login_drop_divider {
  height: 24px;
  position: relative;
}

.login_drop_divider:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  position: absolute;
  top: 12px;
  left: 0;
}

.login_drop_divider_label {
  display: inline-block;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #606060;
  padding-right: 12px;
  position: absolute;
  left: 0;
  top: 0;
}

.login_drop_links {
  width: 100%;
  padding: 4px 0;
}

.login_drop_links > li > a {
  display: block;
  font-size: 14px;
  line-height: 32px;
  color: #303030;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.login_drop_links > li > a:hover {
  color: var(--brand-color);
}

.login_drop_down {
  border-top: 1px solid #e8e8e8;
  padding: 24px 24px 12px;
}

.login_drop_loginbtn {
  width: 100%;
  height: 36px;
  background-color: var(--brand-color);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  border-radius: 48px;
  display: block;
  text-align: center;
}

.login_drop_text {
  font-size: 12px;
  color: #303030;
  line-height: 24px;
  margin-top: 12px;
}

.login_drop_signupbtn {
  color: var(--brand-color);
  font-weight: 600;
}

.login_drop_signupbtn:hover {
  text-decoration: underline;
}

.header_postproperty {
  width: 180px;
  padding: 8px 0;
}

.header_postproperty > a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: #fff;
  border-radius: 16px;
  padding: 8px 16px;
  color: #303030;
}

.badge {
  display: inline-block;
  font-size: 10px;
  color: #303030;
  text-transform: uppercase;
  height: 16px;
  padding: 0 8px;
  border-radius: 8px;
  background-color: #ffc72c;
  line-height: 18px;
  font-weight: 600;
}

.header_sub_tasks {
	display: flex;
	flex-grow: 1;
	justify-content: space-evenly;
  position: relative;
}

.header_sub_tasks > li > a {
	color: #303030;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	padding: 10px 12px;
	display: flex;
	position: relative;
	border: 1px solid #fff;
	transition: none;
	height: 100%;
	align-items: center;
	gap: 8px;
}

.header_sub_tasks > li > a.active {
  background-color: #fff;
  color: var(--brand-color);
  border-radius: 8px 8px 0 0;
  box-shadow: 0 -7px 6px 0 rgb(48 48 48 / 10%);
  z-index: 1;
  border: 1px solid #d7d7d7;
  border-bottom: none;
  top: 1px;
}

.header_sub_tabs_link:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655392412070/images/revamp/web-header-footer.svg)
    no-repeat -11px -570px;
  transform: rotate(180deg);
}

.header_sub_tabs_link.active:after {
  background-position: -11px -570px;
  transform: rotate(1turn);
  top: 12px;
}

.header_sub_tasks_rent > a {
	border-radius: 10px;
	background-color: #def6f8;
	font-size: 12px;
	color: var(--brand-color);
	margin: 4px auto;
	font-weight: 700;
	display: flex;
	align-items: center;
	padding: 8px 12px;
	gap: 4px;
	white-space: nowrap;
}

.header_sub_tabs_dropdown {
	position: absolute;
	top: 100%;
	border-radius: 0 8px 8px 8px;
	padding: 24px 24px 36px;
	box-shadow: 0 3px 9px #30303033;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	display: none;
}

.header_sub_tabs_dropdown.active {
  display: block;
  max-width: 100%;
}
.header_sub_tabs_dropdown_btn {
  display: none;
}

.header_sub_tabs_dropdown .swiper_button_next,
.header_sub_tabs_dropdown .swiper_button_prev {
  width: 32px;
  height: 32px;
  z-index: 2;
  outline: none;
  text-align: center;
  background-color: #fff;
  background-image: none;
  border-radius: 50%;
  background-clip: padding-box;
  box-shadow: 0 3px 9px 0 rgb(51 51 51 / 20%);
}

.header_sub_tabs_dropdown .swiper_button_next {
  right: -16px;
  top: calc(50% - 16px);
}
.header_sub_tabs_dropdown .swiper_button_next:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: 12px;
  left: 11px;
  border-right: 2px solid #303030;
  border-top: 2px solid #303030;
  transform: rotate(45deg);
  transition: all 0.1s;
}

.header_sub_tabs_dropdown .swiper_button_prev {
  left: -16px;
  top: calc(50% - 16px);
  transform: rotate(-180deg);
}
.header_sub_tabs_dropdown .swiper_button_prev:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: 12px;
  left: 11px;
  border-right: 2px solid #303030;
  border-top: 2px solid #303030;
  transform: rotate(45deg);
  transition: all 0.1s;
}

.header_sub_tabs_dropdown .swiper_button_next.swiper_button_disabled,
.header_sub_tabs_dropdown .swiper_button_prev.swiper_button_disabled {
  opacity: 0.4;
  background-color: #d7d7d7;
  cursor: default;
  pointer-events: auto;
}
.header_sub_tabs_dropdown .swiper_button_next.swiper_button_disabled:after,
.header_sub_tabs_dropdown .swiper_button_prev.swiper_button_disabled:after {
  border-color: #909090;
  left: 11px !important;
}
.header_sub_tabs_dropdown_view_more {
  width: 10%;
  height: 24px;
  color: #303030;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  position: absolute;
  left: 45%;
  bottom: 12px;
  display: none;
}
.header_sub_tabs_dropdown_view_more.active {
  display: inline-block;
}

#ptadvicedrop, #helpdrop {
	right: 0;
}

.header_sub_tabs > li.active {
  padding-top: 4px;
}

.header_sub_tasks .drop_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.drop_call:not(.drop_call:first-of-type) {
	margin-left: 2em;
}

.drop_heading {
  font-size: 16px;
  font-weight: 500;
  color: #303030;
  padding-bottom: 8px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e8e8e8;
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.drop_call:hover .drop_heading {
  border-color: var(--brand-color);
}

.drop_links > li > a {
	display: block;
	font-size: 14px;
	line-height: 150%;
	color: #303030;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 4px;
	padding: 4px 0;
}

.drop_links > li > a:hover {
  color: var(--brand-color);
}
.header_sub_tabs_dropdown .drop_links > li > a .offer {
  height: 20px;
  line-height: 20px;
  padding: 4px;
  border-radius: 4px;
  background-color: #ffc72c;
  font-size: 12px;
  font-weight: 600;
  color: #303030;
}
.header_sub_tabs_dropdown .drop_links > li > a .offer_inline {
  display: inline-block;
  line-height: 20px;
  height: 26px;
  position: absolute;
  margin-top: 26px;
  left: 0;
}

.drop_links > li.divider {
  border-top: 1px solid #e8e8e8;
  padding-top: 12px;
  margin-top: 24px;
}

.drop_links > li > a.see_all {
  color: var(--brand-color);
  font-weight: 500;
}

.drop_links > li > a.see_all .see_all_arrow {
  height: 1px;
  width: 11px;
  background-color: var(--brand-color);
  display: inline-block;
  position: relative;
  vertical-align: 3px;
}

.drop_links > li > a.see_all .see_all_arrow:after {
  content: "";
  height: 6px;
  width: 6px;
  border: 1px solid var(--brand-color);
  transform: rotate(45deg);
  border-left: 0;
  border-bottom: 0;
  position: absolute;
  right: 0;
  top: -3px;
}

.drop_label_text {
  font-size: 12px;
  line-height: 16px;
  color: #909090;
}

.drop_label_text > .email_link {
  text-decoration: underline;
  color: #909090;
  font-size: 12px;
  line-height: 16px;
}

.drop_label_text > .email_link:hover {
  text-decoration: none;
  color: var(--brand-color);
}
.header_sub_tasks_rent {
	margin-left: 12px;
}
.pay_your_rent_icon {
  --edge: 20px;
  display: inline-block;
  padding-right: 10px;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655392301574/images/payrent-icon.svg)
    no-repeat;
  width: var(--edge);
  height: var(--edge);
}

@media screen and (max-width: 1200px) {
  .header_main {
    height: auto;
    padding-top: 2px;
  }

  .header_menu_btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 10px;
    justify-content: center;
    margin-right: 4px;
    cursor: pointer;
  }
  .header_menu_btn:hover {
    background-color: #00000040;
  }

  .header_menu_btn > div {
    width: 20px;
    height: 2px;
    background: #fff;
  }

  .header_container_div {
    width: 100%;
  }

  .header_main > .header_container_div {
    padding-left: 2px;
    padding-right: 10px;
  }

  .header_city,
  .header_prime,
  .header_login, .header_sub .swiper_button_prev, .header_sub .swiper_button_next, #owner_properties .swiper_button_prev, #owner_properties .swiper_button_next{
    display: none;
  }

  .header_logo {
    width: auto;
  }

  .header_logo > a {
    background: url(../../../../public/PropTrack_Logo.png) -2px -2px;
    width: 48px;
    background-size: 48px;
    border-radius: 100px;
    border: 2px solid #fff;
  }

  .header_postproperty {
    width: auto;
    margin-left: auto;
  }

  .header_postproperty > a {
    position: relative;
  }

  .header_postproperty .badge {
   
  }

  .header_sub {
    position: absolute;
    top: 0;
    left: 0;
    display: initial;
    transform: translateX(-100%);
    width: 100%;
    background-color: #000000bf;
  }
  .header_sub.show {
    transform: translateX(0);
  }
  .header_sub_btn {
    --edge: 40px;
    width: var(--edge);
    height: var(--edge);
    display: inline-block;
    cursor: pointer;
    margin-left: 4px;
    position: relative;
    vertical-align: top;
  }
  .header_sub_btn > div {
    position: absolute;
    height: 4px;
    top: 50%;
    left: 50%;
    transform-origin: center;
    width: 100%;
    background-color: #fff;
  }
  .header_sub_btn > div:first-child {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .header_sub_btn > div:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .header_sub > .header_container_div,
  .header_sub_tasks, .header_sub_tasks .swiper_wrapper, .header_sub_tasks .drop_row {
    flex-direction: column;
  }
  .header_sub > .header_container_div {
    width: calc(100% - 50px);
    margin: 0;
    background-color: #fff;
    max-width: 350px;
    display: inline-block;
    min-height: 100vh;
    overflow-y: auto;
  }
  .header_sub_tasks {
    position: static;
  }
  .header_sub_tasks > li {
    border-bottom: 1px solid #00000080;
    padding: 0;
    height: 45px;
    display: flex;
  }

  .header_sub_tasks > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1em;
  }
  .header_sub_tasks > li > a.active {
    color: inherit;
    box-shadow: none;
    top: 0;
  }
  .header_sub_tabs_link:after {
    position: initial;
    transform: rotate(90deg);
  }
  .header_sub_tabs_link.active:after {
    transform: rotate(90deg);
  }
  .header_sub_tabs_dropdown.active {
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
    width:min(100vw, 400px);
    overflow-y: scroll;
    height: 100vh;
  }
  .header_sub_tabs_dropdown_btn {
    display: block;
    text-align: right;
    padding: 1em 2em;
  }
  .drop_call {
    background-color: #0001;
    margin-bottom: 1em;
  }
  .drop_call:not(.drop_call:first-of-type) {
    margin-left: 0;
  }
  .drop_heading {
    padding: 10px 16px;
    background: #0002;
    border-radius: 5px;
  }
  .drop_links {
    padding: 0 16px;
  }
  .header_sub_tasks_rent {
    width: initial;
    margin: 0;
  }

  .header_sub_tasks_rent > a {
    --padding-y: 6px;
    width: 100%;
    margin-top: 0;
    font-size: 1em;
    height: auto;
    display: flex;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
    align-items: center;
  }

  .pay_your_rent_icon {
    --edge: 30px;
    width: var(--edge);
    height: var(--edge);
    background-size: var(--edge);
    position: initial;
    margin-right: 10px;
  }
}
