.footer * {
  box-sizing: border-box;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
}
.footer_main {
  background-color: #f5f5f5;
  padding: 38px 0;
}
.container {
  width: 81%;
  margin: auto;
}
.footer_main_section {
  display: flex;
  gap: 2em;
}
.footer_main_left, .footer_main_right {
  width: 100%;
}
.footer_main_title {
  font-size: 16px;
  line-height: 16px;
  color: #303030;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer_main_content {
  font-size: 14px;
  line-height: 24px;
  color: #303030;
}
.footer_main_social_links {
  display: flex;
  margin-top: 32px;
}
.footer_main_social_links>li>a {
  background-image: url(https://cdn.staticmb.com/magicservicestatic/1655835027028/images/revamp/web-header-footer.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 8px;
}
.footer_main_social_links .google_play {
  width: 120px;
  height: 32px;
  background-position: -59px 0;
}
.footer_main_social_links .apple_store {
  width: 120px;
  height: 32px;
  background-position: -187px 0;
  margin-right: 44px;
}
.footer_main_social_links .facebook {
  width: 32px;
  height: 32px;
  background-position: -59px -52px;
}
.footer_main_social_links .twitter {
  width: 32px;
  height: 32px;
  background-position: -99px -52px;
}
.footer_main_social_links .linkedin {
  width: 32px;
  height: 32px;
  background-position: -139px -52px;
}
.footer_main_social_links .youtube {
  width: 32px;
  height: 32px;
  background-position: -179px -52px;
}
.footer_main_right_content_1 {
  margin-bottom: 34px;
}
.footer_main_right_link {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #303030;
  margin-right: 10px;
  position: relative;
}
.footer_main_right_link:hover {
  text-decoration: underline;
}
.footer_main_right_link:after {
  content: "";
  width: 1px;
  height: 12px;
  display: inline-block;
  background-color: #606060;
  position: absolute;
  top: 4px;
  right: -8px;
}
.footer_secondary {
  background-color: #e8e8e8;
}
.footer_secondary_links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer_secondary_links>li>a {
  display: inline-block;
  color: #303030;
  font-size: 14px;
  line-height: 48px;
  padding: 0 0.5em;
}
.footer_secondary_links>li>a:hover {
  color: #d8232a;
}
.footer_disclaimer {
  background-color: #f5f5f5;
  font-size: 12px;
  line-height: 18px;
  color: #606060;
  padding: 16px 0;
}
.footer_disclaimer > .container {
  flex-direction: column;
}
.footer_disclaimer_more {
  font-weight: bold;
}
.footer_disclaimer_more:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer_copyright {
  background-color: #303030;
  color: #fff;
  font-size: 10px;
  line-height: 175%;
  padding: 0.5em 0;
}
@media screen and (max-width:1200px) {
  .footer_main_section {
    flex-wrap: wrap;
  }
}
@media screen and (max-width:600px) {
  .footer_main_social_links {
    flex-direction: column;
    gap: 4px;
  }
  .footer_secondary_links {
    display: block;
  }
  .footer_secondary_links>li>a {
    padding: 0.5em;
    line-height: 150%;
  }
}