<body id="item:497e874c-56cd-4181-b186-231d84f3b2fb" class="sriracha landing_page">
    <!-- GTM-->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56BNFGS" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- /GTM -->

    <!-- Custom Section -->
    <section data-id="18145fd4-56ad-4eb1-917e-3fa1c1e4536c"
        class="section component-c7b0a754-231b-11eb-a90d-cc2f71496d30 section-18145fd4-56ad-4eb1-917e-3fa1c1e4536c light-bg height-normal">
        <div class="section-background" style="background-color: #FFFFFF; opacity: 1"></div>
        <div class="box box-padding-right-3 box-padding-bottom-2 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1300px;">


                <div
                    style="min-height: 810px;
background: #a4b739
url('https://cdn.spark.app/media/housingcom/image/home_interiors_top_fold_background_26_xpQ9maL.svg') repeat scroll center center / cover; border-radius: 0px 0px 54px 54px;">

                    <div class="css-s5dbgs">
                        <header class="css-e0cudg">
                            <img src="12propi.png" class="css-e4tb7z" style="object-fit: cover;
height: 41px;
margin: 41px; object-fit: cover;
height: 60px; margin: 30px 30px  10px 41px;">
                        </header>
                        <div class="css-m035e6">
                            <div>
                            </div>






                            <div style="margin: 0%; float: left">
                                <img class="imgbanner"
                                    src="https://cdn.spark.app/media/housingcom/image/home_interiors_hero_illustration.svg"
                                    style="animation: 300ms linear 0s 1 normal none running animation-1qbobka; object-fit: cover;
height: 411px; padding-top: 30px">

                                <h1
                                    style="font-size: 25px !important; line-height: 30px; margin-top: 7px; width: 373px; margin-left:5%;  color: #222222; font-family: 'Rubik', sans-serif;">
                                    Home interiors from start to finish.</h1>
                                <div style="font-size: 16px; margin-top: 14px;
line-height: 27px; margin-left:5%; width: 338px; color: #71A02D;
margin-bottom: 28px; font-family: 'Rubik', sans-serif;">Ensuring a <strong> one-stop safe experience </strong> for
                                    everything interiors from design to installation.</div>

                                <div class="css-5r1qs4" style="margin-bottom: 14px;
font-size: 14px;
line-height: 20px;
color: #4c4c4c;
margin-left:5%; 
font-weight: 500; font-family: 'Rubik', sans-serif;">Livspace | Bonito Designs </div>



                            </div>

                        </div>


                        <div
                            style="
z-index: 1; left: 50%;  top: 92px;pointer-events: none; float: right; margin-right: 5%;transform: trlateX(-26%);top: 92px;">

                            <div
                                style="max-width: 420px;border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 27px 0px;background: #ffffff; pointer-events: initial; padding-top: 24px; position: relative; left: 5px">

                                <div class="css-103u7za">
                                    <div
                                        style="font-weight: 500;text-align: center;color: rgb(34, 34, 34); font-size: 26px; margin-top: 0px;line-height: 31px; font-family: 'Rubik', sans-serif;">
                                        How does it work?</div>

                                    <div style="margin: 10px 0px 0px;line-height: 16px; font-size: 16px;
color: rgb(127, 127, 127); text-align: center; font-family: 'Rubik', sans-serif;">
                                        It's <strong>simpler</strong> than you think!</div>
                                </div>

                                <div style="margin-top: 50px;">
                                    <div
                                        style="margin: 0px 34px 17px; display: flex; -moz-box-align: center; align-items: center;">


                                        <img src="https://cdn.spark.app/media/housingcom/image/how_home_interiors_22.svg"
                                            class="img css-1q846nw"
                                            style="animation: 300ms linear 0s 1 normal none running animation-1qbobka; object-fit: contain; height: 81px;">


                                        <div
                                            style="font-size: 16px; line-height: 28px; padding-right: 24px; color: rgb(51, 51, 51); margin-left: 20px; font-family: 'Rubik', sans-serif;">
                                            Submit your details</div>
                                    </div>

                                    <div
                                        style="margin: 0px 34px 17px; display: flex; -moz-box-align: center; align-items: center;">

                                        <img src="https://cdn.spark.app/media/housingcom/image/how_home_interiors_23.svg"
                                            style="animation: 300ms linear 0s 1 normal none running animation-1qbobka; object-fit: contain; height: 81px;">
                                        <div
                                            style="font-size: 16px; line-height: 28px; padding-right: 24px; color: rgb(51, 51, 51); margin-left: 20px; font-family: 'Rubik', sans-serif;">
                                            Choose your favorite vendor & seal the deal</div>
                                    </div>

                                    <div
                                        style="margin: 0px 34px 17px; display: flex; -moz-box-align: center; align-items: center;">

                                        <img src="https://cdn.spark.app/media/housingcom/image/how_home_interiors_24.svg"
                                            style="animation: 300ms linear 0s 1 normal none running animation-1qbobka; object-fit: contain; height: 81px;">

                                        <div
                                            style="font-size: 16px; line-height: 28px; padding-right: 24px; color: rgb(51, 51, 51); margin-left: 20px; font-family: 'Rubik', sans-serif;">
                                            Place your order to begin the installations</div>
                                    </div>


                                    <div
                                        style="margin: 0px 34px 17px; display: flex; -moz-box-align: center; align-items: center;">

                                        <img src="https://cdn.spark.app/media/housingcom/image/how_home_interiors_25.svg"
                                            style="animation: 300ms linear 0s 1 normal none running animation-1qbobka; object-fit: contain; height: 81px;">


                                        <div
                                            style="font-size: 16px; line-height: 28px; padding-right: 24px; color: rgb(51, 51, 51); margin-left: 20px; font-family: 'Rubik', sans-serif;">
                                            Move in to home of your dreams</div>
                                    </div>



                                </div>






                                <img src="" style="animation: 300ms linear 0s 1 normal none running animation-1qbobka; object-fit: cover; position: absolute; right: 0%; top: 64%; bottom: 11%;
z-index: 1;height: 85px; top: auto; ">

                                <div
                                    style="display: flex; flex-direction: column;
-moz-box-align: center;
align-items: center;background-color: rgb(242, 243, 248); padding: 14px 20px 13px; border-radius: 0px 0px 10px 10px; position: sticky; bottom: 0px; padding: 25px;">
                                    <div class="css-5r1qs4" style="margin-bottom: 14px;
font-size: 17px;
line-height: 22px;
color: rgb(51, 51, 51);
text-align: center;
font-weight: bold; font-family: 'Rubik', sans-serif;">And, yes all this with Housing.com's trust</div>


                                    <button onclick="window.location.href='/edge/home-interiors/initiate';" style="display: block;
width: calc(100% - 28px);
height: 60px;
font-size: 16px;
line-height: 24px;
font-weight: 500;


color: rgb(255, 255, 255);
cursor: pointer;
margin: auto;
border: 3px solid rgb(85, 214, 167); padding: 0px 14px;
box-shadow: 0px 3px #40B188;


border-radius: 10px;
background-color: rgb(85, 214, 167); font-family: 'Rubik', sans-serif;">I'm Interested</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Callouts Section -->
    <section data-id="31bec744-aa41-4670-a184-06db169360b5"
        class="section component-da21a4cb-a81a-4491-b7e3-a947b8880cfa section-31bec744-aa41-4670-a184-06db169360b5 light-bg center height-normal">
        <div class="box box-padding-top-8 box-padding-right-2 box-padding-bottom-8 box-padding-left-2 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1200px;">
                <div class="box box-padding-bottom-4 section-header-box ">
                    <div class="box-content text-center"
                        style="margin-right: auto; margin-left: auto; max-width: 600px;" data-aos="fade-up">
                        <div class="rich-text">
                            <p><span style="color: #ec5396; font-size: 1.4rem">P A R T N E R S</span></p>
                            <h1><span style="font-size: 3rem">Home Decor Services from Professionals</span></h1>
                        </div>
                    </div>
                </div>
                <div class="callouts">
                    <div class="callout">
                        <a href=https://housing.com/edge/home-interiors-livspace>
                            <div class="media">
                                <picture class="responsive-media" style="padding-bottom: 56.00000000000001%;">
                                    <source
                                        data-srcset="https://cdn.spark.app/media/housingcom/image/artboard_26_20_w300.webp 1.0x"
                                        type="image/webp">
                                    <source
                                        data-srcset="https://cdn.spark.app/media/housingcom/image/artboard_26_20_w300.jpg 1.0x"
                                        type="image/jpeg">

                                    <img data-src="https://cdn.spark.app/media/housingcom/image/artboard_26_20_w300.jpg"
                                        alt="" data-id=811b130e-f669-4526-acd1-615713018c7f width="300" height="169"
                                        style=" border-radius: 10px;" />
                                    <noscript>
                                        <img src="https://cdn.spark.app/media/housingcom/image/artboard_26_20_w300.jpg"
                                            alt="" data-id=811b130e-f669-4526-acd1-615713018c7f width="300" height="169"
                                            style=" border-radius: 10px;" />
                                    </noscript>
                                </picture>
                            </div>
                        </a>
                        <div class="rich-text ">
                            <h1><span style="font-size: 2rem; font-family: Rubik">Livspace</span></h1>
                            <p><span style="color: #ec5396; font-size: 1.6rem">Get safe home from start to finish</span>
                            </p>
                        </div>
                        <div class="actions">
                            <a id="31bec744-aa41-4670-a184-06db169360b5-secondary-5" class="button button-secondary"
                                data-section="31bec744-aa41-4670-a184-06db169360b5" data-category="secondary_action"
                                data-value="5" href="https://housing.com/edge/home-interiors-livspace">Explore now</a>
                        </div>
                    </div>
                    <div class="callout">
                        <a href=https://housing.com/edge/home-interiors-bonito-designs>
                            <div class="media">
                                <picture class="responsive-media" style="padding-bottom: 56.00000000000001%;">
                                    <source
                                        data-srcset="https://cdn.spark.app/media/housingcom/image/replacement_of_logo_16022021_02_w300.webp 1.0x"
                                        type="image/webp">
                                    <source
                                        data-srcset="https://cdn.spark.app/media/housingcom/image/replacement_of_logo_16022021_02_w300.jpg 1.0x"
                                        type="image/jpeg">

                                    <img data-src="https://cdn.spark.app/media/housingcom/image/replacement_of_logo_16022021_02_w300.jpg"
                                        alt="" data-id=1966b28b-247e-4547-948a-c19f7c667860 width="300" height="169"
                                        style=" border-radius: 10px;" />
                                    <noscript>
                                        <img src="https://cdn.spark.app/media/housingcom/image/replacement_of_logo_16022021_02_w300.jpg"
                                            alt="" data-id=1966b28b-247e-4547-948a-c19f7c667860 width="300" height="169"
                                            style=" border-radius: 10px;" />
                                    </noscript>
                                </picture>
                            </div>
                        </a>
                        <div class="rich-text ">
                            <h1><span style="font-size: 2rem; font-family: Rubik">Bonito Designs</span></h1>
                            <h2 id="get_fairytale_homes_designed_by_us"><span
                                    style="color: #ec5396; font-size: 1.6rem">Get fairy-tale homes designed by us</span>
                            </h2>
                        </div>
                        <div class="actions">
                            <a id="31bec744-aa41-4670-a184-06db169360b5-secondary-5" class="button button-secondary"
                                data-section="31bec744-aa41-4670-a184-06db169360b5" data-category="secondary_action"
                                data-value="5" href="https://housing.com/edge/home-interiors-bonito-designs">Explore
                                now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Callouts Section -->
    <section data-id="86a86287-4abb-4a55-b85d-f2cb2df97a9e"
        class="section component-da21a4cb-a81a-4491-b7e3-a947b8880cfa section-86a86287-4abb-4a55-b85d-f2cb2df97a9e light-bg center height-normal">
        <div class="box box-padding-top-8 box-padding-right-2 box-padding-bottom-8 box-padding-left-2 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1200px;">
                <div class="box box-padding-bottom-6 section-header-box ">
                    <div class="box-content text-center"
                        style="margin-right: auto; margin-left: auto; max-width: 600px;">
                        <div class="rich-text">
                            <h2 id="customise_your_homes_with_us"><span style="color: #0f1f2b">Customise your Homes with
                                    us</span></h2>
                            <p><span style="color: #4c4c4c">We partner with the best-in class home interior and home
                                    decor brand on our platform who help you curate your very own happy homes.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="callouts">
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 66.66666666666666%;">
                                <source
                                    data-srcset="https://cdn.spark.app/media/housingcom/image/gray_and_white_living_room_set_w300.webp 1.0x"
                                    type="image/webp">
                                <source
                                    data-srcset="https://cdn.spark.app/media/housingcom/image/gray_and_white_living_room_set_w300.jpg 1.0x"
                                    type="image/jpeg">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/gray_and_white_living_room_set_w300.jpg"
                                    alt="gray and white living room set" data-id=fec6d68c-cdf7-48fb-9a93-68e7f6659c84
                                    width="300" height="200" style=" border-radius: 12px;" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/gray_and_white_living_room_set_w300.jpg"
                                        alt="gray and white living room set"
                                        data-id=fec6d68c-cdf7-48fb-9a93-68e7f6659c84 width="300" height="200"
                                        style=" border-radius: 12px;" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h3>Full home interiors</h3>
                        </div>
                    </div>
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 66.66666666666666%;">
                                <source
                                    data-srcset="https://cdn.spark.app/media/housingcom/image/brown_wooden_table_with_chairs_wuxbzhc_w300.webp 1.0x"
                                    type="image/webp">
                                <source
                                    data-srcset="https://cdn.spark.app/media/housingcom/image/brown_wooden_table_with_chairs_wuxbzhc_w300.jpg 1.0x"
                                    type="image/jpeg">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/brown_wooden_table_with_chairs_wuxbzhc_w300.jpg"
                                    alt="brown wooden table with chairs" data-id=20f45882-4a4d-42e3-8c91-1117496df5dc
                                    width="300" height="200" style=" border-radius: 12px;" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/brown_wooden_table_with_chairs_wuxbzhc_w300.jpg"
                                        alt="brown wooden table with chairs"
                                        data-id=20f45882-4a4d-42e3-8c91-1117496df5dc width="300" height="200"
                                        style=" border-radius: 12px;" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h3>Kitchens &amp; Wardrobes</h3>
                        </div>
                    </div>
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 66.66666666666666%;">
                                <source
                                    data-srcset="https://cdn.spark.app/media/housingcom/image/white_and_blue_floral_throw_pillows_on_white_couch_w300.webp 1.0x"
                                    type="image/webp">
                                <source
                                    data-srcset="https://cdn.spark.app/media/housingcom/image/white_and_blue_floral_throw_pillows_on_white_couch_w300.jpg 1.0x"
                                    type="image/jpeg">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/white_and_blue_floral_throw_pillows_on_white_couch_w300.jpg"
                                    alt="white and blue floral throw pillows on white couch"
                                    data-id=9030c5b4-9da1-441c-8b65-03afdfeda4a1 width="300" height="200"
                                    style=" border-radius: 12px;" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/white_and_blue_floral_throw_pillows_on_white_couch_w300.jpg"
                                        alt="white and blue floral throw pillows on white couch"
                                        data-id=9030c5b4-9da1-441c-8b65-03afdfeda4a1 width="300" height="200"
                                        style=" border-radius: 12px;" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h3>Furnishings</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Callouts Section -->
    <section data-id="7017bde7-e518-4083-a86e-34281a1b6a9b"
        class="section component-da21a4cb-a81a-4491-b7e3-a947b8880cfa section-7017bde7-e518-4083-a86e-34281a1b6a9b light-bg center height-normal">

        <div class="section-background section-background-media section-background-image">

        </div>
        <div class="box box-padding-top-8 box-padding-right-4 box-padding-bottom-8 box-padding-left-4 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1000px;">
                <div
                    class="box box-padding-top-4 box-padding-right-4 box-padding-bottom-8 box-padding-left-4 section-header-box ">
                    <div class="box-content text-center"
                        style="margin-right: auto; margin-left: auto; max-width: 600px;">
                        <div class="rich-text">
                            <p><span style="color: #ec5396; font-size: 1.4rem"> B E N E F I T S</span></p>
                            <h1><span style="color: #152542; font-size: 3rem">Why choose Home interiors with Housing.com
                                    and its partners?</span></h1>
                            <h3><span style="color: #4c4c4c; font-family: Rubik">You can leave it to us to provide your
                                    dream home the perfect decor and design which it deserves. These are the key factors
                                    which make Housing an unique differentiator:</span></h3>
                        </div>
                    </div>
                </div>
                <div class="callouts">
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 100.0%;">
                                <source
                                    data-srcset="https://cdn.spark.app/media/housingcom/image/one_stop_shop.svg 1.0x"
                                    type="image/svg+xml">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/one_stop_shop.svg" alt=""
                                    data-id=eb31330d-01a1-457c-a8ce-cd11ce1cc3d6 width="300" height="300" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/one_stop_shop.svg" alt=""
                                        data-id=eb31330d-01a1-457c-a8ce-cd11ce1cc3d6 width="300" height="300" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h2 id="onestop_shop"><span style="font-size: 2rem">One-stop Shop</span></h2>
                            <h3><span style="font-size: 1.5rem; font-family: Rubik">All your Home interior requirements
                                    covered</span></h3>
                        </div>
                    </div>
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 100.0%;">
                                <source
                                    data-srcset="https://cdn.spark.app/media/housingcom/image/best_in_class_MzSrZ1d.svg 1.0x"
                                    type="image/svg+xml">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/best_in_class_MzSrZ1d.svg"
                                    alt="" data-id=c54abb53-e2c1-4de1-a047-3c1f87ec6161 width="300" height="300" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/best_in_class_MzSrZ1d.svg"
                                        alt="" data-id=c54abb53-e2c1-4de1-a047-3c1f87ec6161 width="300" height="300" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h2 id="bestin_class_design"><span style="font-size: 2rem">Best-in class design</span></h2>
                            <h3><span style="font-size: 1.5rem">Choose from the best in the market</span></h3>
                        </div>
                    </div>
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 100.0%;">
                                <source
                                    data-srcset="https://cdn.spark.app/media/housingcom/image/online_consultation_copy.svg 1.0x"
                                    type="image/svg+xml">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/online_consultation_copy.svg"
                                    alt="" data-id=6bda95df-95b6-4ae1-99e0-a06945329e5e width="300" height="300" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/online_consultation_copy.svg"
                                        alt="" data-id=6bda95df-95b6-4ae1-99e0-a06945329e5e width="300" height="300" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h2 id="online_consultation"><span style="font-size: 2rem">Online Consultation</span></h2>
                            <h3><span style="font-size: 1.5rem">Professional solutions from the ease of your home</span>
                            </h3>
                        </div>
                    </div>
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 100.0%;">
                                <source
                                    data-srcset="https://cdn.spark.app/media/housingcom/image/home_interiors_37.svg 1.0x"
                                    type="image/svg">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/home_interiors_37.svg"
                                    alt="" data-id=c2d8e420-2fcb-43b9-b4b3-d3d50deb0b4f width="300" height="300" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/home_interiors_37.svg" alt=""
                                        data-id=c2d8e420-2fcb-43b9-b4b3-d3d50deb0b4f width="300" height="300" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h2 id="curated_solutions"><span style="font-size: 2rem">Curated Solutions</span></h2>
                            <h3><span style="font-size: 1.5rem">That are as unique as you</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-id="99d6ff72-ad7b-4078-bdba-ab85720e39e6"
        class="section component-a54f1f46-fc91-414a-8e23-409c37671beb section-99d6ff72-ad7b-4078-bdba-ab85720e39e6 light-bg height-normal">
        <div class="section-background" style="background-color: #F2F3F8; opacity: 1"></div>
        <div class="box box-padding-top-8 box-padding-right-2 box-padding-bottom-8 box-padding-left-2 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1200px;">
                <div class="box  ">
                    <div class="box-content text-center"
                        style="margin-right: auto; margin-left: auto; max-width: 600px;">
                        <div class="actions">
                            <a id="99d6ff72-ad7b-4078-bdba-ab85720e39e6-primary-3" class="button button-primary"
                                data-section="99d6ff72-ad7b-4078-bdba-ab85720e39e6" data-category="primary_action"
                                data-value="3" href="/edge/home-interiors/initiate">Show Interest</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Callouts Section -->
    <section data-id="4aba1457-77b8-454b-9779-669c7d738a67"
        class="section component-da21a4cb-a81a-4491-b7e3-a947b8880cfa section-4aba1457-77b8-454b-9779-669c7d738a67 light-bg center height-normal">
        <div class="box box-padding-top-8 box-padding-right-2 box-padding-bottom-8 box-padding-left-2 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1200px;">
                <div class="box box-padding-bottom-6 section-header-box ">
                    <div class="box-content text-center"
                        style="margin-right: auto; margin-left: auto; max-width: 600px;">
                        <div class="rich-text">
                            <h2 id="why_home_interiors_is_important_for_your_homes"><span style="color: #0f1f2b">Why
                                    Home Interiors is important for your homes?</span></h2>
                            <h3><span style="color: #4c4c4c; font-family: Rubik">Choosing the perfect decor for your
                                    home</span></h3>
                            <h3><span style="color: #4c4c4c; font-family: Rubik">Buying a house of your dreams is quite
                                    a milestone in itself. Once you have passed the first hurdle of buying a house, then
                                    comes the next important task of decorating it and choosing the best </span><span
                                    style="color: #4c4c4c; font-family: Rubik"><a
                                        href="https://housing.com/news/interior-design-ideas-for-small-homes/">interior
                                        designs</a></span><span style="color: #4c4c4c; font-family: Rubik"> to furnish
                                    your home. There are a lot of aspects to keep into context while designing your
                                    home. Some of the key aspects are: </span></h3>
                        </div>
                    </div>
                </div>
                <div class="callouts">
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 75.6389342033714%;">
                                <source data-srcset="https://cdn.spark.app/media/housingcom/image/wall3.gif 1.0x"
                                    type="image/gif">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/wall3.gif"
                                    alt="assorted-color framed paintings on the wall"
                                    data-id=06a6be1b-6c4f-46e1-8c16-1c14aa9d17bb width="300" height="227" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/wall3.gif"
                                        alt="assorted-color framed paintings on the wall"
                                        data-id=06a6be1b-6c4f-46e1-8c16-1c14aa9d17bb width="300" height="227" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h3>Wall Color</h3>
                        </div>
                    </div>
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 75.6926952141058%;">
                                <source data-srcset="https://cdn.spark.app/media/housingcom/image/lighting2.gif 1.0x"
                                    type="image/gif">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/lighting2.gif"
                                    alt="living room" data-id=fd641f4e-68bd-4402-a503-bb8b1fd91e3c width="300"
                                    height="227" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/lighting2.gif"
                                        alt="living room" data-id=fd641f4e-68bd-4402-a503-bb8b1fd91e3c width="300"
                                        height="227" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h3>Lighting</h3>
                        </div>
                    </div>
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 75.6389342033714%;">
                                <source data-srcset="https://cdn.spark.app/media/housingcom/image/furniture.gif 1.0x"
                                    type="image/gif">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/furniture.gif"
                                    alt="white pillow on sofa" data-id=821ec7b1-a3bf-4154-9b11-669070e952c2 width="300"
                                    height="227" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/furniture.gif"
                                        alt="white pillow on sofa" data-id=821ec7b1-a3bf-4154-9b11-669070e952c2
                                        width="300" height="227" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h3>Furniture furnishings</h3>
                        </div>
                    </div>
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 75.73449401523395%;">
                                <source data-srcset="https://cdn.spark.app/media/housingcom/image/curated.gif 1.0x"
                                    type="image/gif">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/curated.gif"
                                    alt="brown wooden table with chairs" data-id=797fbcf4-853e-4692-acb4-f21fd0a934d7
                                    width="300" height="227" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/curated.gif"
                                        alt="brown wooden table with chairs"
                                        data-id=797fbcf4-853e-4692-acb4-f21fd0a934d7 width="300" height="227" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h3>Curated Spaces</h3>
                        </div>
                    </div>
                    <div class="callout">

                        <div class="media">
                            <picture class="responsive-media" style="padding-bottom: 75.73449401523395%;">
                                <source data-srcset="https://cdn.spark.app/media/housingcom/image/plant.gif 1.0x"
                                    type="image/gif">

                                <img data-src="https://cdn.spark.app/media/housingcom/image/plant.gif"
                                    alt="assorted wall decors" data-id=d190e0a5-0c42-47f7-b1d6-ec75a585b981 width="300"
                                    height="227" />
                                <noscript>
                                    <img src="https://cdn.spark.app/media/housingcom/image/plant.gif"
                                        alt="assorted wall decors" data-id=d190e0a5-0c42-47f7-b1d6-ec75a585b981
                                        width="300" height="227" />
                                </noscript>
                            </picture>
                        </div>
                        <div class="rich-text ">
                            <h3>Plants &amp; Greenry </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Callouts Section -->
    <section data-id="6943b6cb-a93a-47b9-bbaa-e4c32b47b7db"
        class="section component-da21a4cb-a81a-4491-b7e3-a947b8880cfa section-6943b6cb-a93a-47b9-bbaa-e4c32b47b7db light-bg center height-normal">
        <div class="box box-padding-top-8 box-padding-right-2 box-padding-bottom-8 box-padding-left-2 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1200px;">
                <div class="callouts"></div>
            </div>
        </div>
    </section>
    <!-- Image Callouts Section -->
    <section data-id="593d2402-175d-4747-a6dc-0d31ff0ee3ce"
        class="section component-da21a4cb-a81a-4491-b7e3-a947b8880cfa section-593d2402-175d-4747-a6dc-0d31ff0ee3ce light-bg center height-normal">
        <div class="box box-padding-top-8 box-padding-right-2 box-padding-bottom-8 box-padding-left-2 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1200px;">
                <div class="callouts"></div>
            </div>
        </div>
    </section>
    <section data-id="322602be-7ba7-41f5-ab25-4107244ff720"
        class="section component-a54f1f46-fc91-414a-8e23-409c37671beb section-322602be-7ba7-41f5-ab25-4107244ff720 light-bg height-normal">
        <div class="section-background" style="background-color: #F2F3F8; opacity: 1"></div>
        <div class="box box-padding-right-4 box-padding-bottom-8 box-padding-left-4 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1200px;">
                <div class="box box-padding-bottom-6  ">
                    <div class="box-content text-center"
                        style="margin-right: auto; margin-left: auto; max-width: 600px;">
                        <div class="actions">
                            <a id="322602be-7ba7-41f5-ab25-4107244ff720-primary-3" class="button button-primary"
                                data-section="322602be-7ba7-41f5-ab25-4107244ff720" data-category="primary_action"
                                data-value="3" href="/edge/home-interiors/initiate">Get more details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Callouts Section -->
    <section data-id="180f0be9-f93e-4f76-ad74-7fd599fae1d7"
        class="section component-da21a4cb-a81a-4491-b7e3-a947b8880cfa section-180f0be9-f93e-4f76-ad74-7fd599fae1d7 light-bg center height-normal">
        <div class="box box-padding-top-8 box-padding-right-2 box-padding-bottom-8 box-padding-left-2 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1200px;">
                <div class="callouts">
                    <div class="callout">
                        <a href=https://housing.com/edge/home-interiors-livspace>
                            <div class="media">
                                <picture class="responsive-media" style="padding-bottom: 24.0%;">
                                    <source
                                        data-srcset="https://cdn.spark.app/media/housingcom/image/logo_26_w300.png 1.0x"
                                        type="image/png">

                                    <img data-src="https://cdn.spark.app/media/housingcom/image/logo_26_w300.png" alt=""
                                        data-id=425acd17-6df0-451a-835f-bf432440815a width="300" height="73" />
                                    <noscript>
                                        <img src="https://cdn.spark.app/media/housingcom/image/logo_26_w300.png" alt=""
                                            data-id=425acd17-6df0-451a-835f-bf432440815a width="300" height="73" />
                                    </noscript>
                                </picture>
                            </div>
                        </a>
                        <div class="actions">
                            <a id="180f0be9-f93e-4f76-ad74-7fd599fae1d7-secondary-5" class="button button-secondary"
                                data-section="180f0be9-f93e-4f76-ad74-7fd599fae1d7" data-category="secondary_action"
                                data-value="5" href="https://housing.com/edge/home-interiors-livspace">Explore now</a>
                        </div>
                    </div>
                    <div class="callout">
                        <a href=https://housing.com/edge/home-interiors-bonito-designs>
                            <div class="media">
                                <picture class="responsive-media" style="padding-bottom: 24.0%;">
                                    <source
                                        data-srcset="https://cdn.spark.app/media/housingcom/image/logo_28_w300.png 1.0x"
                                        type="image/png">

                                    <img data-src="https://cdn.spark.app/media/housingcom/image/logo_28_w300.png" alt=""
                                        data-id=b1cefd72-e855-432c-8c18-f19c0bd327c6 width="300" height="73" />
                                    <noscript>
                                        <img src="https://cdn.spark.app/media/housingcom/image/logo_28_w300.png" alt=""
                                            data-id=b1cefd72-e855-432c-8c18-f19c0bd327c6 width="300" height="73" />
                                    </noscript>
                                </picture>
                            </div>
                        </a>
                        <div class="actions">
                            <a id="180f0be9-f93e-4f76-ad74-7fd599fae1d7-secondary-5" class="button button-secondary"
                                data-section="180f0be9-f93e-4f76-ad74-7fd599fae1d7" data-category="secondary_action"
                                data-value="5" href="https://housing.com/edge/home-interiors-bonito-designs">Explore
                                now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CTA Section -->
    <section data-id="8e98da33-f9ba-4f83-8411-b9cfdd5ecc60"
        class="section component-d7507629-134f-4e18-9679-2b30c5d98675 section-8e98da33-f9ba-4f83-8411-b9cfdd5ecc60 light-bg height-normal">
        <div class="box box-padding-top-8 box-padding-right-2 box-padding-bottom-8 box-padding-left-2 section-box ">
            <div class="box-content" style="margin-right: auto; margin-left: auto; max-width: 1200px;">
                <div class="box box-padding-right-4 text-box ">
                    <div class="box-content text-left" style="margin-right: auto; max-width: 600px;" data-aos="fade-up">
                        <div class="rich-text ">
                            <h1>Want to design your dream home with us?</h1>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <a id="8e98da33-f9ba-4f83-8411-b9cfdd5ecc60-primary-3" class="button button-primary"
                        data-section="8e98da33-f9ba-4f83-8411-b9cfdd5ecc60" data-category="primary_action"
                        data-value="3" href="/edge/home-interiors/initiate">Contact us</a>
                </div>
            </div>
        </div>
    </section>

    <div class="sticky-bottom-spacer"></div>
    <!-- Footer -->
    <footer class="landing-page-footer light-bg">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                &copy; PropTrack.in

            </div>
            <!-- /Copyright -->

        </div>
    </footer>
    <!-- /Footer -->
    <!-- Hotjar -->
    <script async defer>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: '2118340', hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = !0;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- /Hotjar -->

    <!--=== CART ===-->
    <section class="unstack__drawer unstack__drawer--left" id="unstack__drawer_shopify" data-drawer-target>
        <div onclick="window._shop.toggleCart()" class="unstack__drawer__overlay" data-drawer-close tabindex="-1"></div>
        <div class="unstack__drawer__wrapper">
            <div id="unstack__drawer_loader" class="unstack__drawer_loader_wrapper">
                <span class="unstack__drawer_loader"></span>
            </div>
            <div class="unstack__drawer__header">
                <div></div>
                <div class="unstack__drawer__title">Your cart</div>
                <button onclick="window._shop.toggleCart()" class="unstack__drawer__close" data-drawer-close
                    aria-label="Close Drawer"></button>
            </div>
            <div class="unstack__drawer__content" id="unstack__drawer__content">
                <ul id="unstack__drawer__content_list"></ul>
            </div>
            <span id="unstack__drawer__footer" class="unstack__drawer__footer">
                <span id="unstack__drawer__error" class="unstack__drawer_error" style="display: none;"></span>
                <a id="unstack__shopify_redirect" href="#" target="_blank"
                    class="button button-primary button-full">Checkout</a>
            </span>
        </div>
    </section>
    <!--=== CART ===-->



    <div id="gdpr" class="gdpr" style="display: none">
        <span>By using our website you consent to the use of cookies</span>
        <button class="button-info" onclick="sprk.acceptGdpr(event)">Okay</button>
    </div>




    <script src="https://cdn.spark.app/static/js/spark.min.js?v=103" charset="utf-8" async defer></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js" async defer></script>
    <script src="https://cdn.spark.app/static/js/aos.v2.min.js" async defer></script>









    <script>
        window.addEventListener('load', function (e) {
            // Code highlighting
            var blocks = document.querySelectorAll('pre.syntax, code');
            for (i = 0; i < blocks.length; i++) {
                hljs.highlightBlock(blocks[i]);
            };
            // Animation
            AOS.init({
                easing: 'cubic-bezier(0.165, 0.84, 0.44, 1)',
                duration: 750,
                once: true,
            });
        });
    </script>
    <!-- /Animation -->
</body>

</html>




</div>
</div>
<div id="modal-root"></div>
</div>