/* Color Utility-classes
************************************/

.sriracha .text-brand-primary-color {
    color: #6F7FE2;
}

.sriracha .bg-brand-primary-color {
    background-color: #6F7FE2;
}

.sriracha .border-brand-primary-color {
    border-color: #6F7FE2;
}

.sriracha .text-success-color {
    color: #2EC4B6;
}

.sriracha .bg-success-color {
    background-color: #2EC4B6;
}

.sriracha .border-success-color {
    border-color: #2EC4B6;
}

.sriracha .text-warning-color {
    color: #FFA847;
}

.sriracha .bg-warning-color {
    background-color: #FFA847;
}

.sriracha .border-warning-color {
    border-color: #FFA847;
}

.sriracha .text-dark-background-color {
    color: #090B45;
}

.sriracha .bg-dark-background-color {
    background-color: #090B45;
}

.sriracha .border-dark-background-color {
    border-color: #090B45;
}

.sriracha .text-light-background-color {
    color: #F8FAFE;
}

.sriracha .bg-light-background-color {
    background-color: #F8FAFE;
}

.sriracha .border-light-background-color {
    border-color: #F8FAFE;
}

.sriracha .text-dark-text-color {
    color: #14213D;
}

.sriracha .bg-dark-text-color {
    background-color: #14213D;
}

.sriracha .border-dark-text-color {
    border-color: #14213D;
}

.sriracha .text-light-text-color {
    color: #647FB4;
}

.sriracha .bg-light-text-color {
    background-color: #647FB4;
}

.sriracha .border-light-text-color {
    border-color: #647FB4;
}


/* Blockquote coloring
************************************/
.sriracha .rich-text blockquote:not([id]) {
    border-left: solid 4px #6F7FE2;
    padding-left: 2rem;
}

.sriracha .box-content blockquote:not([id]) {
    color: #999999;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
}

.sriracha .dark-bg blockquote:not([id]) {
    color: #FFFFFF;
}

/*  Form styles
************************************/
.sriracha form.unstack-form label {
    color: #999999;
}


/* Buttons
************************************/
.sriracha .button,
.sriracha .option a {
    border-style: solid;
}

/* Primary Button
************************************/

.sriracha .button.button-primary,
.sriracha .dark-bg .form-embed-card .button.button-primary,
.sriracha .option.selected a {
    background-color: #4ed7a6;
    border-color: #4ed7a6;
    border-radius: 8px;
    border-width: 0px;
    box-shadow: 0px 3px 0px rgba(76, 189, 148, 100);
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 200ms;
}

.sriracha .dark-bg .button.button-primary,
.sriracha .button.button-primary.dark-bg,
.sriracha .dark-bg .option.selected a {
    background-color: #01A9FB;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-color: #005AED;
    border-width: 0px;
}

.sriracha .dark-bg .button.button-primary:hover,
.sriracha .button.button-primary.dark-bg:hover,
.sriracha .dark-bg .option.selected a:hover,
.sriracha .dark-bg .option.selected a[disabled] {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.sriracha .button.button-primary:hover,
.sriracha .dark-bg .form-embed-card .button.button-primary:hover,
.sriracha .option.selected a:hover,
.sriracha .option.selected a[disabled] {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.sriracha .dark-bg .button.button-primary[disabled],
.sriracha .button.button-primary.dark-bg[disabled] {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-color: transparent !important;
    color: rgba(0, 0, 0, 0.4) !important;
    text-shadow: none;
    cursor: not-allowed;
}

.sriracha .dark-bg .button.button-primary:hover:not([disabled]),
.sriracha .button.button-primary.dark-bg:hover:not([disabled]) {
    background-color: #01A9FB !important;
    border-color: #005AED !important;
}

.sriracha .button.button-primary:hover:not([disabled]) {
    background-color: #4ed7a6;
    border-color: #4ed7a6;
}

/* Secondary Button
************************************/

.sriracha .button,
.sriracha .option:not(.selected) a {
    /* background-color: ; */
    border-color: #4ed7a6;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 0px 0px 0px;
    color: #4ed7a6;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 200ms;
}

.sriracha .button:hover,
.sriracha .option:not(.selected) a:hover {
    background-color: #FFFFFF;
    /* border-color: ; */
    box-shadow: 0px 0.8px 0px;
    opacity: 0.9 !important;
}

.sriracha .dark-bg .button:not(.button-primary),
.sriracha .dark-bg.button:not(.button-primary),
.sriracha .dark-bg .option:not(.selected) a {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border-color: #FFFFFF;
    border-width: 1px;
}

.sriracha .dark-bg .button:not(.button-primary):hover,
.sriracha .dark-bg.button:not(.button-primary):hover,
.sriracha .dark-bg .option:not(.selected) a:hover,
.sriracha .dark-bg .option:not(.selected) a[disabled] {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.9 !important;
}

/* Header 1
************************************/

.sriracha h1,
.sriracha .h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
    font-weight: 500 !important;
    color: #222222;
    line-height: 1;
}

.sriracha .dark-bg h1 {
    color: #FFFFFF;
}

/* Header 2
************************************/

.sriracha h2,
.sriracha .h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #4c4c4c;
    line-height: 1;
}

.sriracha .dark-bg h2 {
    color: #FFFFFF;
}

/* Header 3
************************************/

.sriracha h3,
.sriracha .h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #999999;
    line-height: 1.6;
}

.sriracha .dark-bg h3 {
    color: #FFFFFF;
}

/* Paragraph
************************************/

.sriracha,
.sriracha p {
    color: #999999;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
}

.sriracha a {
    color: #999999;
}

.sriracha .dark-bg p {
    color: #FFFFFF;
}

.sriracha .dark-bg a {
    color: #FFFFFF;
}

.sriracha .dark-bg .form-container {
    color: #999999;
}

/* Blog paragraph
************************************/

.sriracha .blog-listing,
.sriracha .blog-listing article,
.sriracha .blog-listing article p,
.sriracha .blog-content,
.sriracha .blog-content p,
.sriracha .blog-content article,
.sriracha .blog-content footer,
.sriracha .blog-content article,
.sriracha .blog-content article p {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #152542;
    line-height: 1.6;
}

.sriracha .blog-content>article * {
    font-family: inherit;
    font-size: inherit;
}

.sriracha .blog-content>header .blog-subtitle {
    font-family: 'Rubik', sans-serif;
}

.sriracha .blog-listing article a,
.sriracha .blog-content>article a,
.sriracha .blog-content>article * a,
.sriracha .blog-content>article * a * {
    color: #999999;
}

.sriracha .blog-content>article pre {
    font-family: monospace;
    font-size: 0.8em;
}

/* Blog header 1
************************************/

.sriracha .blog-content h1,
.sriracha .blog-content h1 *,
.sriracha .blog-listing h1,
.sriracha .blog-listing h1 * {
    font-family: 'Rubik', sans-serif;
    font-size: 5.5rem;
    font-weight: 700 !important;
    color: #152542;
    line-height: 1.3 !important;
}

/* Blog header 2
************************************/

.sriracha .blog-content h2,
.sriracha .blog-content h2 *,
.sriracha .blog-listing h2,
.sriracha .blog-listing h2 * {
    font-family: 'Rubik', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    color: #152542;
    line-height: 1.3 !important;
}

/* Blog header 3
************************************/

.sriracha .blog-content h3,
.sriracha .blog-content h3 *,
.sriracha .blog-listing h3,
.sriracha .blog-listing h3 * {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #152542;
    line-height: 1.3 !important;
}

/* Quote
************************************/

.sriracha section .large-quote {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

.sriracha section:not(.dark-bg) .large-quote {
    color: #222222;
}

.sriracha section .large-quote {
    color: #FFF;
}

.sriracha section .large-quote-icon {
    color: #DC5C1C;
    width: 3rem;
}

.sriracha section.dark-bg .large-quote-icon {
    color: #FFFFFF !important;
}


/* Header and Footer styles
************************************/

.sriracha header.primary-header,
.sriracha nav#primary-nav,
.sriracha header.landing-page-header {
    background-color: #FFFFFF;
}

.sriracha header.primary-header.dark-bg,
.sriracha header.primary-header.dark-bg nav#primary-nav,
.sriracha header.landing-page-header.dark-bg {
    background-color: #000000;
}

.sriracha header.primary-header nav#primary-nav ul li a.link.active {
    color: #4a90e2;
    /* opacity:  !important; */
}

.sriracha header.primary-header.dark-bg nav#primary-nav ul li a.link.active {
    color: #FFFFFF;
    /* opacity:  !important; */
}


.sriracha header.primary-header.blur,
.sriracha header.landing-page-header.blur {
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
}

.sriracha header.primary-header.blur.dark-bg,
.sriracha header.landing-page-header.blur.dark-bg {
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 767px) {
    .sriracha header.primary-header.blur nav#primary-nav {
        background: none;
    }
}

@media only screen and (max-width: 767px) {
    .sriracha header.primary-header.transparent:not(.scrolled).position-fixed nav#primary-nav {
        background-color: #FFFFFF !important;
    }
}


.sriracha footer.main-footer,
.sriracha footer.landing-page-footer {
    background-color: #F8F8F9;
}

.sriracha header.primary-header.transparent.substrate+style+section,
.sriracha header.primary-header.blur.substrate+style+section {
    padding-top: calc(1rem + 0px);
}

/* Header Logo height and vertical positioning
************************************/


.sriracha header img.logo,
.sriracha header .logo img {
    height: 0px !important;
}



.sriracha header img.logo,
.sriracha header .logo img {
    margin-top: calc(0px * -1) !important;
}



/* Footer Logo height and vertical positioning
************************************/


.sriracha footer img.logo,
.sriracha footer .logo img {
    height: 0px !important;
}



.sriracha footer img.logo,
.sriracha footer .logo img {
    margin-top: calc(0px * -1) !important;
}


/* Highlights (<mark>)
************************************/

.sriracha mark {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 15%,
            #FAAD13 15%,
            #FAAD13 30%,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0) 100%);
}

.sriracha .dark-bg mark {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 15%,
            #FAAD13 15%,
            #FAAD13 30%,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0) 100%);
}


/* Checkmarks
************************************/

.sriracha ul[data-checked] {
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    font-style: normal;
    color: #152542;
    line-height: 1.7;
}

.sriracha ul[data-checked] li {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='' viewBox='0 0 20 20'%3E%3Cpath fill='%23999999' d='M0 11l2-2 5 5L18 3l2 2L7 18z'/%3E%3C/svg%3E");
    background-size: 0.7em;
    padding-bottom: rem;
}

.sriracha .dark-bg ul[data-checked] li {
    color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='' viewBox='0 0 20 20'%3E%3Cpath fill='rgba%28255%2C%20255%2C%20255%2C%200.7%29' d='M0 11l2-2 5 5L18 3l2 2L7 18z'/%3E%3C/svg%3E");
}

/* Header Menu
************************************/

.sriracha header.primary-header nav#primary-nav,
.sriracha header.primary-header nav#primary-nav a.link {
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

.sriracha header.primary-header nav#primary-nav a.text-action {
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
}

.sriracha header.primary-header.light-bg nav#primary-nav,
.sriracha header.primary-header.light-bg nav#primary-nav a.link {
    color: #152542;
}

.sriracha header.primary-header.light-bg span.unstack__icon-cart span.unstack__shopify_cart {
    background-color: #152542;
    color: #FFFFFF;
}

.sriracha header.primary-header.light-bg span.unstack__icon-cart svg path {
    stroke: #152542;
}

.sriracha header.primary-header.light-bg nav#primary-nav a.link,
.sriracha header.primary-header.light-bg span.unstack__icon-cart {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .sriracha header.primary-header.light-bg nav#primary-nav .secondary-navigation a {
        color: #152542;
    }
}

@media only screen and (min-width: 768px) {
    .sriracha header.primary-header.light-bg nav#primary-nav a.link:hover {
        color: #5E47DC;
        opacity: 0.9 !important;
    }

    .sriracha header.primary-header.light-bg span.unstack__icon-cart:hover {
        opacity: 0.9 !important;
    }

    .sriracha header.primary-header.light-bg span.unstack__icon-cart:hover svg path {
        stroke: #5E47DC;
    }

    .sriracha header.primary-header.light-bg span.unstack__icon-cart:hover span.unstack__shopify_cart {
        background-color: #5E47DC;
    }
}

.sriracha header.primary-header.light-bg nav#primary-nav a.text-action {
    color: #999999;
}

.sriracha header.primary-header.light-bg nav#primary-nav a.text-action:after {
    color: #999999;
}

.sriracha header.primary-header.dark-bg nav#primary-nav,
.sriracha header.primary-header.dark-bg nav#primary-nav a.link {
    color: #FFFFFF;
}

.sriracha header.primary-header.dark-bg span.unstack__icon-cart span.unstack__shopify_cart {
    background-color: #FFFFFF;
    color: #000000;
}

.sriracha header.primary-header.dark-bg span.unstack__icon-cart svg path {
    stroke: #FFFFFF;
}

.sriracha header.primary-header.dark-bg nav#primary-nav a.link,
.sriracha header.primary-header.dark-bg span.unstack__icon-cart {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .sriracha header.primary-header.dark-bg nav#primary-nav .secondary-navigation a {
        color: #FFFFFF;
    }
}

@media only screen and (min-width: 768px) {
    .sriracha header.primary-header.dark-bg nav#primary-nav a.link:hover {
        color: #FFFFFF;
        opacity: 0.9 !important;
    }

    .sriracha header.primary-header.dark-bg span.unstack__icon-cart:hover {
        opacity: 0.9 !important;
    }

    .sriracha header.primary-header.dark-bg span.unstack__icon-cart:hover svg path {
        stroke: #FFFFFF;
    }

    .sriracha header.primary-header.dark-bg span.unstack__icon-cart:hover span.unstack__shopify_cart {
        background-color: #FFFFFF;
    }
}

.sriracha header.primary-header.dark-bg nav#primary-nav a.text-action {
    color: #FFA847 !important;
}

.sriracha header.primary-header.dark-bg nav#primary-nav a.text-action:after {
    color: #FFA847 !important;
}



/* Footer Menu
************************************/

.sriracha footer .primary-footer .menu li a {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.9
}

.sriracha footer .primary-footer .menu h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFFFF;
}

.sriracha footer .primary-footer .menu li a:hover {
    color: #FFFFFF !important;
    opacity: 0.9 !important;
}

.sriracha footer.light-bg .primary-footer,
.sriracha footer.light-bg .secondary-footer,
.sriracha footer.light-bg.landing-page-footer,
.sriracha footer.light-bg .primary-footer .contact-info p,
.sriracha footer.light-bg .primary-footer .menu li a {
    color: #999999;
}

.sriracha footer.light-bg .primary-footer .menu li a {
    opacity: 0.9;
}

.sriracha footer.light-bg .primary-footer .menu h4 {
    color: #152542;
}

.sriracha footer.light-bg .primary-footer .menu li a:hover {
    color: #152542 !important;
    opacity: 0.9 !important;
}

/*  Action Link Button
************************************/

.sriracha .text-action {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #999999;
    transition: all 200ms;
}

.sriracha .text-action:after {
    font-size: 0.8em;
    color: #999999;
}

.sriracha .dark-bg .text-action {
    color: #FFFFFF;
}

.sriracha .dark-bg .text-action:after {
    color: #FFFFFF;
}

.sriracha .text-action:hover {
    color: #5E47DC;
    opacity: 0.9;
}

.sriracha .dark-bg .text-action:hover {
    color: #FFFFFF;
    opacity: 0.9;
}

.sriracha strong {
    font-weight: 900 !important;
}

.sriracha pre {
    text-align: left;
}


/* Handle pricing component forced light-bg styles */
.pricing-tier-column>.pricing-tier header>* {
    color: #000;
    text-shadow: none;
}

.pricing-tier-column>.pricing-tier ul>* {
    color: #999999;
}

.pricing-tier-column>.pricing-tier ul>li>.spark-contenteditable:empty {
    color: rgba(0, 0, 0, 0.35) !important;
}

.pricing-tier-column>.pricing-tier footer>.actions>.buttons-container>a {
    color: #fff;
    text-shadow: none;
}

.pricing-tier-column>.pricing-tier footer>.actions>.add-actions>svg {
    color: rgba(9, 11, 69, 0.24);
}

/* Forms */
.sriracha input[type="email"],
.sriracha input[type="phone"],
.sriracha input[type="number"],
.sriracha input[type="search"],
.sriracha input[type="text"],
.sriracha input[type="tel"],
.sriracha input[type="url"],
.sriracha input[type="password"],
.sriracha input[type="checkbox"],
.sriracha textarea,
.sriracha select {
    padding: 0.8rem 1.0rem;

    font-family: 'Rubik', sans-serif;

    font-weight: 400;
    font-size: 1.5rem;
    color: #444444;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 2px;
    border: 1px solid #dce4f4;
}

.sriracha input[type="email"]:focus,
.sriracha input[type="phone"]:focus,
.sriracha input[type="number"]:focus,
.sriracha input[type="search"]:focus,
.sriracha input[type="text"]:focus,
.sriracha input[type="tel"]:focus,
.sriracha input[type="url"]:focus,
.sriracha input[type="password"]:focus,
.sriracha input[type="checkbox"]:focus,
.sriracha textarea:focus,
.sriracha select:focus {

    border-color: #6F7FE2;

}

.sriracha input[type="email"]::placeholder,
.sriracha input[type="phone"]::placeholder,
.sriracha input[type="number"]::placeholder,
.sriracha input[type="search"]::placeholder,
.sriracha input[type="text"]::placeholder,
.sriracha input[type="tel"]::placeholder,
.sriracha input[type="url"]::placeholder,
.sriracha input[type="password"]::placeholder,
.sriracha input[type="checkbox"]::placeholder,
.sriracha textarea::placeholder,
.sriracha select::placeholder {
    /* color: ; */
}

.sriracha label,
.sriracha fieldset label,
.sriracha .unstack-form fieldset label {

    font-family: 'Rubik', sans-serif;

    font-weight: 400;
    font-size: 1.5rem;
    color: #1B314B;
}

.sriracha .unstack-form fieldset input[type="radio"]:focus {
    outline-offset: 0px;
}

.sriracha .unstack-form fieldset label[class="checkbox"],
.sriracha .unstack-form fieldset .radio-container label {

    font-family: 'Rubik', sans-serif !important;


    font-weight: 400 !important;
    font-size: 1.5rem !important;
    color: #444444 !important;
    margin: 0;
}

.sriracha .unstack-form fieldset label[class="checkbox"] span {
    width: calc(1.5rem - 0.2rem);
    height: calc(1.5rem - 0.2rem);
    top: calc(((1.5rem * 1.6) - calc(1.5rem - 0.2rem)) / 2) !important;
}

.sriracha .unstack-form fieldset label[class="checkbox"] input[type="checkbox"]:checked~span:after {
    width: calc(1.5rem - 0.2rem);
    height: calc(1.5rem - 0.2rem);
    font-size: 1.5rem;
}

.sriracha .unstack-form fieldset .radio-container input {
    margin-top: calc(((1.5rem * 1.6) - calc(1.5rem - 0.2rem)) / 2) !important;
    margin-bottom: 2px !important;
    margin-left: 0;
    height: calc(1.5rem - 0.2rem);
    width: calc(1.5rem - 0.2rem);
}

.sriracha fieldset small,
.sriracha .unstack-form fieldset small {

    font-family: 'Rubik', sans-serif;

    font-weight: 400;
    font-size: 1.4rem;
    color: #647fb4;
}

.sriracha .unstack-form button,
.sriracha .unstack-form input[type="submit"],
.sriracha .unstack-form .button {
    padding: 0.8rem 2rem !important;

    font-family: 'Rubik', sans-serif !important;

    font-size: 1.5rem !important;
}

@media only screen and (min-width: 768px) {
    .sriracha .unstack-form-container {
        max-width: 400px;
    }
}

.sriracha .unstack-form .row {
    align-items: flex-end;
    margin: 0 -15.0px;
    padding: 15.0px 0;
}

.sriracha .unstack-form .row-padding {
    height: 30px;
}

.sriracha .unstack-form .row .col {
    padding: 0 15.0px;
}

@media only screen and (max-width: 768px) {
    .sriracha .unstack-form .row .col {
        padding: 15.0px 0px;
    }

    .sriracha .unstack-form .row {
        display: block;
        padding: 0px 15.0px;
    }
}

.sriracha .form-embed-card {
    padding: 15.0px 30px;
}


.sriracha .unstack__drawer .unstack__drawer__wrapper .unstack__drawer__footer .unstack__drawer_error {
    color: #FFA847
}

.sriracha header.primary-header.header-menu-layout-center .nav-group span span {
    top: 28%;
}

@media only screen and (max-width: 767px) {
    .sriracha header.primary-header.header-menu-layout-center .nav-group span span {
        top: 0%;
    }
}

@media only screen and (max-width: 767px){

    .sriracha .box.section-box[class*="box-padding-left-"]:not(.box-padding-left-0) { padding-left: 0rem;}
}

.component-da21a4cb-a81a-4491-b7e3-a947b8880cfa.section-7017bde7-e518-4083-a86e-34281a1b6a9b .section-background-media {
    background-image: url('https://cdn.spark.app/media/housingcom/image/why_housing_bg_2_ckQSMdG.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    }
    .webp .component-da21a4cb-a81a-4491-b7e3-a947b8880cfa.section-7017bde7-e518-4083-a86e-34281a1b6a9b .section-background-media {
    background-image: url('https://cdn.spark.app/media/housingcom/image/why_housing_bg_2_ckQSMdG.svg');
    }