.home_container {
  width: 1232px;
  margin: auto;
  display: table;
}

.home_section {
    padding: 28px 0;
}

.home_section.has_slider {
    padding-bottom: 18px;
}

.home_section_title {
    padding-bottom: 34px;
}

.home_section.has_slider .home_section_title {
    padding-bottom: 24px;
}

.home_section_title_text1 {
    color: #303030;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    display: inline-block;
    margin: 0;
    /* padding: 0; */
}

.home_section_title_text1:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 4px;
    left: 0;
    bottom: -10px;
    border-radius: 2px;
    background-clip: padding-box;
}

.home_section_title_text1.strip_orange:after {
    background-color: #ffc72c;
}

.home_select_city {
    width: auto;
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    padding-left: 22px;
}

.home_section_title_anchor_see_all {
    color: #d8232a;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-right: 20px;
    margin-top: 8px;
    position: relative;
}

.home_section_title_anchor_see_all:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 11px;
    right: 0;
    top: 4px;
    background: url(https://cdn.staticmb.com/magicservicestatic/1655662128808/images/home-web/home-sprite-web.svg) no-repeat;
    background-position: -46px -668px;
    transition: all .6s ease;
}

.home_featured_proj_slider {
    width: 1232px;
}

.home_swiper {
    position: relative;
}

.home_swiper .swiper_button_next,
.home_swiper .swiper_button_prev {
    width: 48px;
    height: 48px;
    z-index: 2;
    text-align: center;
    background-color: #fff;
    background-image: none;
    border-radius: 50%;
    background-clip: padding-box;
    box-shadow: 0 3px 9px 0 rgb(51 51 51 / 20%);
}

.home_swiper .swiper_button_next {
    right: -24px;
}
.home_swiper .swiper_button_prev {
    left: -24px;
}
.home_swiper .swiper_button_next:after, .home_swiper .swiper_button_prev:after {
    display: none;
}

.home_swiper .swiper_button_next>a,
.home_swiper .swiper_button_prev>a {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    border: 1px solid #d7d7d7;
    border-radius: 50%;
    background-clip: padding-box;
}

.home_swiper .swiper_button_next>a:hover,
.home_swiper .swiper_button_prev>a:hover {
    background-color: #d8232a;
    border-color: #d8232a;
}

.home_swiper .swiper_button_next>a:before,
.home_swiper .swiper_button_prev>a:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background: #303030;
    top: 23px;
    left: 14px;
    transition: left .5s ease;
}

.home_swiper .swiper_button_next>a:hover:before ,
.home_swiper .swiper_button_prev>a:hover:before {
    left: 18px;
    background-color: #fff;
}

.home_swiper .swiper_button_next>a:after,
.home_swiper .swiper_button_prev>a:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 19px;
    left: 21px;
    border-right: 2px solid #303030;
    border-top: 2px solid #303030;
    transform: rotate(45deg);
    transition: left .5s ease;
}

.home_swiper .swiper_button_next>a:hover:after,
.home_swiper .swiper_button_prev>a:hover:after {
    left: 25px;
    border-color: #fff;
}

.home_swiper .swiper_button_next.swiper_button_disabled,
.home_swiper .swiper_button_prev.swiper_button_disabled {
    opacity: 0;
}

.home_swiper .swiper_button_prev>a {
    transform: rotate(-180deg);
}


.home_featured_proj .swiper_container {
    padding: 10px 0;
}

.home_featured_proj .swiper_container .swiper_slide {
    width: 608px;
    margin-right: 16px;
}

.home_featured_proj_card {
    height: 332px;
    overflow: hidden;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    background-clip: padding-box;
}

.card_shadow:hover {
    box-shadow: 0 3px 9px 0 rgba(48, 48, 48, .2);
}

.home_featured_proj_card_graphic {
    height: 220px;
    overflow: hidden;
    position: relative;
}

.home_featured_proj_card_graphic>img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all .35s ease-in;
}

.home_featured_proj_card>a:hover .home_featured_proj_card_graphic>img {
    transform: scale(1.1);
}

.home_featured_proj_card_strip_offer {
    width: 100%;
    height: auto;
    padding: 0 16px;
    line-height: 30px;
    background-color: #ffc72c;
    position: absolute;
    left: 0;
    bottom: -40px;
    transition: bottom .3s ease-out;
}

.home_featured_proj_card>a:hover .home_featured_proj_card_strip_offer {
    bottom: 0;
}

.home_featured_proj_card_strip_offer_label {
    color: #303030;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

.home_featured_proj_card_strip_offer_value {
    max-width: calc(100% - 46px);
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    padding-left: 12px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home_featured_proj_card_content {
    width: 100%;
    height: calc(100% - 220px);
    padding: 16px;
    display: flex;
    position: relative;
}

.home_featured_proj_card_brand {
    width: 92px;
    height: 84px;
}

.home_featured_proj_card_brand>img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.home_featured_proj_card_detail {
    width: 354px;
    padding-left: 16px;
}

.home_featured_proj_card_name {
    color: #303030;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home_featured_proj_card_by,
.home_featured_proj_card_loc {
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home_featured_proj_card_marketed {
    color: #606060;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home_featured_proj_card_info {
    width: 135px;
    text-align: right;
}

.home_featured_proj_card_type {
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home_featured_proj_card_price {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 4px;
}

.pt_home .rupees {
    font-family: Arial;
    margin-right: 2px;
    font-weight: 400;
}

.home_featured_proj_card .rupees {
    margin-right: 0 !important;
}

.home_featured_proj_card .rupees:after {
    content: " ";
}

.home_featured_proj_card_price .onwards {
    color: #606060;
    font-size: 12px;
    font-weight: 400;
}

.home_featured_proj_card_price .onwards:before {
    content: " ";
}

.home_featured_proj_card_tag_offer {
    width: auto;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    padding: 0 8px;
    color: #303030;
    font-size: 10px;
    font-weight: 600;
    background-color: #ffc72c;
    text-transform: uppercase;
    border-radius: 4px;
    background-clip: padding-box;
    transition: all .35s ease-in;
}

.home_featured_proj_card>a:hover .home_featured_proj_card_tag_offer {
    opacity: 0;
}

.home_action {
    width: 100%;
    height: auto;
}

.home_featured_proj_card .home_action {
    width: calc(100% - 32px);
    position: absolute;
    bottom: -100px;
    transition: bottom .3s ease-out;
}

.home_action.action_right {
    text-align: right;
}

.home_featured_proj_card>a:hover .home_action {
    bottom: 16px;
}

.home_action_btn {
    width: auto;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 16px;
    background-clip: padding-box;
    transition: all .3s ease;
}

.home_action_btn.btn_red {
    color: #fff;
    background-color: #d8232a;
    border: 1px solid #d8232a;
}

.home_action_btn.medium {
    padding: 0 16px;
    height: 32px;
    line-height: 32px;
}

.home_featured_proj_card>a:hover .home_action_btn {
    background-color: #c31f25;
}
.home_owner_prop_slider{
    width: 1232px;
}
.home_owner_prop .swiper_container {
    padding: 10px 0;
}
.home_owner_prop_card {
    width: 100%;
    height: 296px;
    overflow: hidden;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    background-clip: padding-box;
}
.home_owner_prop_card>a {
    width: 100%;
    height: 100%;
    display: block;
}
.home_owner_prop_card_graphic {
    width: 100%;
    height: 156px;
    overflow: hidden;
    position: relative;
}
.home_owner_prop_card_graphic>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all .35s ease-in;
}
.home_owner_prop_card>a:hover .home_owner_prop_card_graphic>img {
    transform: scale(1.1);
}
.home_owner_prop_card_pic_count {
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 0 6px 0 22px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background-color: #303030;
    position: absolute;
    left: 8px;
    bottom: 12px;
    border-radius: 4px;
    background-clip: padding-box;
}
.home_owner_prop_card_pic_count:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(https://cdn.staticmb.com/magicservicestatic/1655835407245/images/home-web/home-sprite-web.svg) no-repeat;
    background-position: -47px -891px;
    left: 6px;
    top: 7px;
}
.home_owner_prop_card_content {
    width: 100%;
    height: calc(100% - 156px);
    padding: 12px 16px;
    position: relative;
    background-color: #fff;
}
.home_owner_prop_card_type {
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 2px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home_owner_prop_card_price {
    color: #303030;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 8px;
}
.home .rupees {
    font-family: Arial;
    margin-right: 2px;
    font-weight: 400;
}
.home_owner_prop_card_size {
    color: #303030;
    font-size: 18px;
    font-weight: 600;
    padding-left: 12px;
    line-height: 24px;
    position: relative;
}
.home_owner_prop_card_size:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #303030;
    margin-right: 12px;
    vertical-align: 0;
}
.home_owner_prop_card_loc {
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    padding-bottom: 4px;
}
.home_owner_prop_card_status {
    color: #303030;
    font-size: 14px;
    font-weight: 400;
}
.home_action {
    width: 100%;
    height: auto;
}
.home_owner_prop_card .home_action {
    width: calc(100% - 32px);
    position: absolute;
    bottom: -100px;
    transition: bottom .3s ease-out;
}
.home_owner_prop_card>a:hover .home_action {
    bottom: 16px;
}
.home_action_btn {
    width: auto;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 16px;
    background-clip: padding-box;
    transition: all .3s ease;
}
.home_owner_prop_card>a:hover .home_action_btn {
    background-color: #c31f25;
}
.home_action_btn.medium {
    padding: 0 16px;
    height: 32px;
    line-height: 32px;
}
.home_action_btn.btn-red {
    color: #fff;
    background-color: #d8232a;
    border: 1px solid #d8232a;
}
.home_prop_service{
    width: 100%;
}
.home_prop_service .swiper_container {
    padding: 10px 0;
}
.home_prop_service_card {
    width: 100%;
    height: 216px;
    overflow: hidden;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    background-clip: padding-box;
}
.home_prop_service_card>a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.home_prop_service_card_graphic {
    width: 100%;
    height: 112px;
    overflow: hidden;
    position: relative;
}
.home_prop_service_card_graphic>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all .35s ease-in;
}
.home_prop_service_card>a:hover .home_prop_service_card_graphic>img {
    transform: scale(1.1);
}
.home_prop_service_card_content {
    width: 100%;
    height: calc(100% - 112px);
    padding: 16px 24px;
    position: relative;
}
.home_prop_service_card_title {
    color: #303030;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}.home_prop_service_card_text {
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.home_post_property {
    width: 100%;
    height: 112px;
    padding: 16px 32px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    background-color: #fff8e2;
    border-radius: 8px;
    background-clip: padding-box;
}
.home_post_property_title_text1 {
    color: #303030;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}
.home_post_property_title_text1 .damion {
    font-family: Damion,Helvetica,Arial,sans-serif;
    font-size: 40px;
}
.home_post_property_title_text2 {
    color: #303030;
    font-size: 16px;
    font-weight: 400;
    padding-top: 6px;
}
.home_post_property_btn {
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    font-size: 14px;
    background-color: #ffc72c;
    transition: all .3s ease;
}
.home_post_property:hover .home_post_property_btn {
    background-color: #ffde82;
}
.home_post_property_btn, .home_post_property_btn_free {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
    font-weight: 600;
    border-radius: 24px;
    background-clip: padding-box;
}
.home_post_property_btn_free {
    height: 16px;
    padding: 0 6px;
    font-size: 8px;
    background-color: #fff;
    margin-left: 12px;
}