.searchform {
  padding-bottom: 20px;
  background-color: #fff;
}

.searchbanner {
  padding: 70px 0 48px;
  background-color: #fff;
}

.searchbanner_container {
  width: 1232px;
  margin: auto;
}

.search_container {
  float: left;
  width: 940px;
}

.search_heading {
  font-size: 28px;
  color: #303030;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 400;
  height: 94px;
  line-height: 66px;
}

.search_tab {
  padding: 0 0 20px;
  text-align: center;
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.search_tab_item {
  display: inline-block;
  line-height: 32px;
  padding: 0 12px;
  font-size: 14px;
  color: #303030;
  font-weight: 600;
  cursor: pointer;
}

.search_tab_ani {
  position: absolute;
  left: 0;
  top: 28px;
  height: 4px;
  width: 0;
  border-radius: 2px;
  background-color: #d8232a;
  transition: all 0.4s ease;
}

.search_wrap {
  width: 900px;
  height: 62px;
  margin: 0 auto;
  border-radius: 32px;
  box-shadow: 0 3px 12px -9px rgb(0 0 0 / 40%);
  border: 1px solid #909090;
  background-color: #fff;
}

.search_location {
  float: left;
  width: 350px;
  height: 36px;
  margin: 12px 16px 0 0;
  border-right: 1px solid #d7d7d7;
  padding-left: 32px;
  position: relative;
}

.search_location::before {
  content: "";
  position: absolute;
  left: 24px;
  top: 10px;
  width: 12px;
  height: 14px;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655391961871/images/mb-home-web/mb-home-sprite-web.svg)
    no-repeat -46px -754px;
}

.search_location_wrap {
  display: flex;
}

.search_location_input {
  width: calc(100% - 8px);
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #606060;
  border: none;
  outline: none;
  padding: 0 0 0 8px;
  font-family: Montserrat;
  background: none;
  margin-right: 16px;
}

.search_property {
  float: left;
  width: 170px;
  height: 36px;
  margin: 12px 16px 0 0;
  border-right: 1px solid #d7d7d7;
  padding-left: 22px;
  position: relative;
}

.search_property:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 15px;
  height: 14px;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655391961871/images/mb-home-web/mb-home-sprite-web.svg)
    no-repeat -45px -800px;
}

.search_property_title {
  font-size: 16px;
  color: #606060;
  padding: 0 30px 0 0;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 34px;
  height: 48px;
}

.search_property_type {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 78%;
  vertical-align: -12px;
}

.search_property_type_count {
  display: inline;
}

.search_property:after {
  content: "";
  position: absolute;
  right: 16px;
  top: 14px;
  width: 11px;
  height: 6px;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655391961871/images/mb-home-web/mb-home-sprite-web.svg)
    no-repeat -47px -983px;
}

.search_budget {
  float: left;
  width: 185px;
  height: 36px;
  margin: 12px 0 0;
  padding-left: 22px;
  position: relative;
}

.search_budget:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 15px;
  height: 14px;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655391961871/images/mb-home-web/mb-home-sprite-web.svg)
    no-repeat -45px -845px;
}

.search_budget_title {
  font-size: 16px;
  color: #606060;
  padding: 0 30px 0 0;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 34px;
  height: 48px;
}

.search_budget_title:after {
  content: "";
  position: absolute;
  right: 16px;
  top: 14px;
  width: 11px;
  height: 6px;
  background: url(https://cdn.staticmb.com/magicservicestatic/1655391961871/images/mb-home-web/mb-home-sprite-web.svg)
    no-repeat -47px -983px;
}

.search_button {
  float: right;
  width: 152px;
  height: 48px;
  border-radius: 26px;
  background-color: #d8232a;
  margin: 6px 6px 0 0;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 46px;
  color: #fff;
}

.search_button_icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  border-radius: 100%;
  vertical-align: 2px;
  position: relative;
  margin-right: 5px;
}

.search_button_icon:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 7px;
  background-color: #fff;
  left: 7px;
  top: 6px;
  transform: rotate(-45deg);
}

.search_payrent_banner {
  float: right;
  width: 272px;
  height: 168px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 40px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .search_wrap, .search_container, .searchbanner_container, .search_tab {
    width: auto;
  }

  .search_container {
    padding: 0 4px;
    float: none;
}

  .search_heading {
    font-size: 24px;
    height: auto;
    line-height: 150%;
  }

  .search_tab_item {
    padding: 0 10px;
  }

  .search_tab > .search_tab_item:last-of-type {
    display: none;
  }

  .search_property,
  .search_budget {
    display: none;
  }

  .search_location {
    width: auto;
    border: none;
    margin-right: 0;
    padding-left: 25px;
  }

  .search_location::before {
    left: 14px;
  }

  .search_location_wrap {
    display: initial;
  }

  .search_location_input {
    margin-right: 0px;
  }

  .search_button {
    width: 48px;
  }

  .search_button_text {
    font-size: 0;
  }
}
